{
  "log": {
    "_recordingName": "iterateServicePrincipals",
    "creator": {
      "comment": "persister:JupiterOneIntegationFSPersister",
      "name": "Polly.JS",
      "version": "4.3.0"
    },
    "entries": [
      {
        "_id": "ab8978b2113eaaeaf75f61a6f60080e9",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/x-www-form-urlencoded"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/x-www-form-urlencoded",
            "params": [],
            "text": "[REDACTED]"
          },
          "queryString": [],
          "url": "https://login.microsoftonline.com/992d7bbe-b367-459c-a10f-cf3fd16103ab/oauth2/v2.0/token"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 1591,
            "text": "{\"token_type\":\"Bearer\",\"expires_in\":3599,\"ext_expires_in\":3599,\"access_token\":\"[REDACTED]\"}"
          },
            {
              "httpOnly": true,
              "name": "x-ms-gateway-slice",
              "path": "/",
              "sameSite": "none",
              "secure": true,
              "value": "[REDACTED]"
            },
            {
              "httpOnly": true,
              "name": "stsservicecookie",
              "path": "/",
              "sameSite": "none",
              "secure": true,
              "value": "[REDACTED]"
            }
          ],
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 454,
      },
      {
        "_id": "fcbf2c6ceb25445bdc1d5305e6a99376",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "authorization",
              "value": "[REDACTED]"
            },
            {
              "_fromType": "array",
              "name": "sdkversion",
              "value": "graph-js/2.0.0 (featureUsage=7)"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://graph.microsoft.com/v1.0/servicePrincipals"
        },
        "response": {
          "content": {
            "mimeType": "application/json;odata.metadata=minimal;odata.streaming=true;IEEE754Compatible=false;charset=utf-8",
            "size": 143213,
            "text": "{\"@odata.context\":\"https://graph.microsoft.com/v1.0/$metadata#servicePrincipals\",\"@odata.nextLink\":\"https://graph.microsoft.com/v1.0/servicePrincipals?$skiptoken=X%274453707402000100000035536572766963655072696E636970616C5F61373737306165382D306562362D343266392D396662662D63633661646562666639373435536572766963655072696E636970616C5F61373737306165382D306562362D343266392D396662662D6363366164656266663937340000000000000000000000%27\",\"value\":[{\"id\":\"02d75c57-8df6-4f93-897a-462925046d40\",\"deletedDateTime\":null,\"accountEnabled\":true,\"alternativeNames\":[],\"appDisplayName\":\"Azure Advisor\",\"appDescription\":null,\"appId\":\"c39c9bac-9d1f-4dfb-aa29-27f6365e5cb7\",\"applicationTemplateId\":null,\"appOwnerOrganizationId\":\"f8cdef31-a31e-4b4a-93e4-5f571e91255a\",\"appRoleAssignmentRequired\":false,\"createdDateTime\":\"2020-07-16T18:08:56Z\",\"description\":null,\"displayName\":\"Azure Advisor\",\"homepage\":null,\"loginUrl\":null,\"logoutUrl\":null,\"notes\":null,\"notificationEmailAddresses\":[],\"preferredSingleSignOnMode\":null,\"preferredTokenSigningKeyThumbprint\":null,\"replyUrls\":[],\"samlSingleSignOnSettings\":null,\"servicePrincipalNames\":[\"https://azureadvisor.msftcloudes.com\",\"https://azureadvisortest.msftcloudes.com\",\"c39c9bac-9d1f-4dfb-aa29-27f6365e5cb7\"],\"servicePrincipalType\":\"Application\",\"tags\":[],\"tokenEncryptionKeyId\":null,\"verifiedPublisher\":{\"displayName\":null,\"verifiedPublisherId\":null,\"addedDateTime\":null},\"addIns\":[],\"appRoles\":[],\"info\":{\"logoUrl\":null,\"marketingUrl\":null,\"privacyStatementUrl\":null,\"supportUrl\":null,\"termsOfServiceUrl\":null},\"keyCredentials\":[],\"oauth2PermissionScopes\":[],\"passwordCredentials\":[]},{\"id\":\"0315dd5b-05a5-401f-a886-9480b5faf2f5\",\"deletedDateTime\":null,\"accountEnabled\":true,\"alternativeNames\":[],\"appDisplayName\":\"Network Watcher\",\"appDescription\":null,\"appId\":\"7c33bfcb-8d33-48d6-8e60-dc6404003489\",\"applicationTemplateId\":null,\"appOwnerOrganizationId\":\"f8cdef31-a31e-4b4a-93e4-5f571e91255a\",\"appRoleAssignmentRequired\":false,\"createdDateTime\":\"2020-07-16T18:04:35Z\",\"description\":null,\"displayName\":\"Network Watcher\",\"homepage\":null,\"log[...]
