{
  "log": {
    "_recordingName": "validateManagementGroupStepInvocation#success",
    "creator": {
      "comment": "persister:JupiterOneIntegationFSPersister",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "419f8a68424a58ccfbfa7e96d080076d",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/x-www-form-urlencoded;charset=utf-8"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/x-www-form-urlencoded;charset=utf-8",
            "params": [],
            "text": "[REDACTED]"
          },
          "queryString": [],
          "url": "https://login.microsoftonline.com/19ae0f99-6fc6-444b-bd54-97504efc66ad/oauth2/v2.0/token"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 1393,
            "text": "{\"token_type\":\"Bearer\",\"expires_in\":3599,\"ext_expires_in\":3599,\"access_token\":\"[REDACTED]\"}"
          },
            {
              "httpOnly": true,
              "name": "x-ms-gateway-slice",
              "path": "/",
              "sameSite": "none",
              "secure": true,
              "value": "[REDACTED]"
            },
            {
              "httpOnly": true,
              "name": "stsservicecookie",
              "path": "/",
              "sameSite": "none",
              "secure": true,
              "value": "[REDACTED]"
            }
          ],
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "x-ms-srs",
              "value": "1.P"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 259,
      },
      {
        "_id": "cf67bfaee1eba4fbcd80f9538467c300",
        "request": {
          "headers": [
            {
              "name": "authorization",
              "value": "[REDACTED]"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "api-version",
              "value": "2021-04-01"
            },
            {
              "name": "$expand",
              "value": "children"
            }
          ],
          "url": "https://management.azure.com/providers/Microsoft.Management/managementGroups/19ae0f99-6fc6-444b-bd54-97504efc66ad?api-version=2021-04-01&%24expand=children"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 939,
            "text": "{\"id\":\"/providers/Microsoft.Management/managementGroups/19ae0f99-6fc6-444b-bd54-97504efc66ad\",\"type\":\"Microsoft.Management/managementGroups\",\"name\":\"19ae0f99-6fc6-444b-bd54-97504efc66ad\",\"properties\":{\"tenantId\":\"19ae0f99-6fc6-444b-bd54-97504efc66ad\",\"displayName\":\"Tenant Root Group\",\"details\":{\"version\":1,\"updatedTime\":\"2021-09-01T19:14:26.557085Z\",\"updatedBy\":\"Tenant Backfill Job\"},\"children\":[{\"id\":\"/providers/Microsoft.Management/managementGroups/sub-group-nd-2022\",\"type\":\"Microsoft.Management/managementGroups\",\"name\":\"sub-group-nd-2022\",\"displayName\":\"sub-group-nd-2022\"},{\"id\":\"/providers/Microsoft.Management/managementGroups/managmentgroup1\",\"type\":\"Microsoft.Management/managementGroups\",\"name\":\"managmentgroup1\",\"displayName\":\"Management groups\"},{\"id\":\"/subscriptions/193f89dc-6225-4a80-bacb-96b32fbf6dd0\",\"type\":\"/subscriptions\",\"name\":\"193f89dc-6225-4a80-bacb-96b32fbf6dd0\",\"displayName\":\"jupiterone-integration-dev\"}]}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "x-ms-ratelimit-remaining-tenant-reads",
              "value": "249"
            },
            {
              "name": "x-ba-restapi",
              "value": "3.2024.0801.5"
            },
            {
              "name": "x-ms-ratelimit-remaining-managementgroups-requests",
              "value": "59"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 571,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
