{
  "log": {
    "_recordingName": "resource-manager-step-security-center-contacts",
    "creator": {
      "comment": "persister:JupiterOneIntegationFSPersister",
      "name": "Polly.JS",
      "version": "4.3.0"
    },
    "entries": [
      {
        "_id": "3440be136d06dd892a0cafcdd940df38",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/x-www-form-urlencoded"
            },
            {
              "name": "return-client-request-id",
              "value": "true"
            },
            {
              "name": "x-client-sku",
              "value": "Node"
            },
            {
              "name": "x-client-ver",
              "value": "0.1.28"
            },
            {
              "name": "x-client-os",
              "value": "darwin"
            },
            {
              "name": "x-client-cpu",
              "value": "x64"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/x-www-form-urlencoded",
            "params": [],
            "text": "[REDACTED]"
          },
          "queryString": [
            {
              "name": "api-version",
              "value": "1.0"
            }
          ],
          "url": "https://login.microsoftonline.com/bcd90474-9b62-4040-9d7b-8af257b1427d/oauth2/token?api-version=1.0"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 1450,
            "text": "{\"token_type\":\"Bearer\",\"expires_in\":\"3599\",\"ext_expires_in\":\"3599\",\"expires_on\":\"1604447564\",\"not_before\":\"1604443664\",\"resource\":\"https://management.azure.com/\",\"access_token\":\"[REDACTED]\"}"
          },
            {
              "httpOnly": true,
              "name": "x-ms-gateway-slice",
              "path": "/",
              "secure": true,
              "value": "[REDACTED]"
            },
            {
              "httpOnly": true,
              "name": "stsservicecookie",
              "path": "/",
              "secure": true,
              "value": "[REDACTED]"
            }
          ],
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 449,
      },
      {
        "_id": "5b659db4e0ea98de8227750eb75526ee",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "_fromType": "array",
              "name": "authorization",
              "value": "[REDACTED]"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "api-version",
              "value": "2016-06-01"
            }
          ],
          "url": "https://management.azure.com/subscriptions?api-version=2016-06-01"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 336,
            "text": "{\"value\":[{\"id\":\"/subscriptions/40474ebe-55a2-4071-8fa8-b610acdd8e56\",\"authorizationSource\":\"RoleBased\",\"subscriptionId\":\"40474ebe-55a2-4071-8fa8-b610acdd8e56\",\"displayName\":\"Azure subscription 1\",\"state\":\"Enabled\",\"subscriptionPolicies\":{\"locationPlacementId\":\"Public_2014-09-01\",\"quotaId\":\"PayAsYouGo_2014-09-01\",\"spendingLimit\":\"Off\"}}]}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "x-ms-ratelimit-remaining-tenant-reads",
              "value": "11999"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 275,
      },
      {
        "_id": "7d659d42526f257fabcf03ac5e870fa7",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "_fromType": "array",
              "name": "authorization",
              "value": "[REDACTED]"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "api-version",
              "value": "2017-08-01-preview"
            }
          ],
          "url": "https://management.azure.com/subscriptions/40474ebe-55a2-4071-8fa8-b610acdd8e56/providers/Microsoft.Security/securityContacts?api-version=2017-08-01-preview"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 775,
            "text": "{\"value\":[{\"properties\":{\"alertNotifications\":\"On\",\"alertsToAdmins\":\"On\",\"email\":\"test@j1dev.com\",\"phone\":\"+1-801-555-1234\"},\"id\":\"/subscriptions/40474ebe-55a2-4071-8fa8-b610acdd8e56/providers/Microsoft.Security/securityContact/default1\",\"name\":\"default1\",\"type\":\"Microsoft.Security/securityContact\",\"etag\":\"\\\"0d004bb2-0000-0d00-0000-5fa1dd9c0000\\\"\",\"location\":\"West Europe\"}]}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "x-ms-ratelimit-remaining-subscription-resource-requests",
              "value": "749"
            },
            {
              "name": "api-supported-versions",
              "value": "2017-08-01-preview"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 398,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
