{
  "log": {
    "_recordingName": "rm-batch-certificate",
    "creator": {
      "comment": "persister:JupiterOneIntegationFSPersister",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "419f8a68424a58ccfbfa7e96d080076d",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/x-www-form-urlencoded"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/x-www-form-urlencoded",
            "params": [],
            "text": "[REDACTED]"
          },
          "queryString": [],
          "url": "https://login.microsoftonline.com/directory-id/oauth2/v2.0/token"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 1841,
            "text": "{\"token_type\":\"Bearer\",\"expires_in\":3599,\"ext_expires_in\":3599,\"access_token\":\"[REDACTED]\"}"
          },
            {
              "httpOnly": true,
              "name": "x-ms-gateway-slice",
              "path": "/",
              "sameSite": "none",
              "secure": true,
              "value": "[REDACTED]"
            },
            {
              "httpOnly": true,
              "name": "stsservicecookie",
              "path": "/",
              "sameSite": "none",
              "secure": true,
              "value": "[REDACTED]"
            }
          ],
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "x-ms-srs",
              "value": "1.P"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 507,
      },
      {
        "_id": "39cb0d299503e6ab1f6a07ceece09c83",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "authorization",
              "value": "[REDACTED]"
            },
            {
              "_fromType": "array",
              "name": "sdkversion",
              "value": "graph-js/2.0.0 (featureUsage=7)"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://graph.microsoft.com/v1.0/organization"
        },
        "response": {
          "content": {
            "mimeType": "application/json;odata.metadata=minimal;odata.streaming=true;IEEE754Compatible=false;charset=utf-8",
            "size": 1286,
            "text": "{\"@odata.context\":\"https://graph.microsoft.com/v1.0/$metadata#organization\",\"value\":[{\"id\":\"directory-id\",\"deletedDateTime\":null,\"businessPhones\":[],\"city\":\"Durham\",\"country\":null,\"countryLetterCode\":\"US\",\"createdDateTime\":\"2021-09-01T14:59:04Z\",\"defaultUsageLocation\":null,\"displayName\":\"JupiterOne Azure Integration Development\",\"isMultipleDataLocationsForServicesEnabled\":null,\"marketingNotificationEmails\":[],\"onPremisesLastSyncDateTime\":null,\"onPremisesSyncEnabled\":null,\"partnerTenantType\":null,\"postalCode\":\"27709-1010\",\"preferredLanguage\":\"en\",\"securityComplianceNotificationMails\":[],\"securityComplianceNotificationPhones\":[],\"state\":\"nc\",\"street\":\"600 Park Offices Dr\",\"technicalNotificationMails\":[\"security@jupiterone.com\"],\"tenantType\":\"AAD\",\"directorySizeQuota\":{\"used\":599,\"total\":50000},\"assignedPlans\":[{\"assignedDateTime\":\"2024-06-25T13:53:47Z\",\"capabilityStatus\":\"Enabled\",\"service\":\"Adallom\",\"servicePlanId\":\"932ad362-64a8-4783-9106-97849a1a30b9\"},{\"assignedDateTime\":\"2024-06-25T13:53:47Z\",\"capabilityStatus\":\"Enabled\",\"service\":\"MultiFactorService\",\"servicePlanId\":\"8a256a2b-b617-496d-b51b-e76466e88db0\"},{\"assignedDateTime\":\"2024-06-25T13:53:47Z\",\"capabilityStatus\":\"Enabled\",\"service\":\"exchange\",\"servicePlanId\":\"113feb6c-3fe4-4440-bddc-54d774bf0318\"},{\"assignedDateTime\":\"2024-06-25T13:53:47Z\",\"capabilityStatus\":\"Enabled\",\"service\":\"AADPremiumService\",\"servicePlanId\":\"41781fb2-bc02-4b7c-bd55-b576c07bb09d\"},{\"assignedDateTime\":\"2024-06-10T09:51:38Z\",\"capabilityStatus\":\"Deleted\",\"service\":\"WindowsAzure\",\"servicePlanId\":\"fca3e605-0754-4279-8504-3f1229f29614\"}],\"onPremisesSyncStatus\":[],\"privacyProfile\":{\"contactEmail\":\"\",\"statementUrl\":\"\"},\"provisionedPlans\":[{\"capabilityStatus\":\"Enabled\",\"provisioningStatus\":\"Success\",\"service\":\"Adallom\"},{\"capabilityStatus\":\"Enabled\",\"provisioningStatus\":\"Success\",\"service\":\"exchange\"}],\"verifiedDomains\":[{\"capabilities\":\"Email, OfficeCommunicationsOnline\",\"isDefault\":true,\"isInitial\":true,\"name\":\"j1AzureIntegrationDev.onmicrosoft.com\",\"type\":\"Managed\"}]}]}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json;odata.metadata=minimal;odata.streaming=true;IEEE754Compatible=false;charset=utf-8"
            },
            {
              "name": "x-ms-ags-diagnostic",
              "value": "{\"ServerInfo\":{\"DataCenter\":\"Brazil South\",\"Slice\":\"E\",\"Ring\":\"3\",\"ScaleUnit\":\"001\",\"RoleInstance\":\"CP1PEPF000078E2\"}}"
            },
            {
              "name": "x-ms-resource-unit",
              "value": "1"
            },
            {
              "name": "odata-version",
              "value": "4.0"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 410,
      },
      {
        "_id": "21b88abd562de50ac5fa61166c4f8fc1",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "authorization",
              "value": "[REDACTED]"
            },
            {
              "_fromType": "array",
              "name": "sdkversion",
              "value": "graph-js/2.0.0 (featureUsage=7)"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://graph.microsoft.com/v1.0/policies/identitySecurityDefaultsEnforcementPolicy"
        },
        "response": {
          "content": {
            "mimeType": "application/json;odata.metadata=minimal;odata.streaming=true;IEEE754Compatible=false;charset=utf-8",
            "size": 542,
            "text": "{\"@odata.context\":\"https://graph.microsoft.com/v1.0/$metadata#policies/identitySecurityDefaultsEnforcementPolicy/$entity\",\"id\":\"00000000-0000-0000-0000-000000000005\",\"displayName\":\"Security Defaults\",\"description\":\"Security defaults is a set of basic identity security mechanisms recommended by Microsoft. When enabled, these recommendations will be automatically enforced in your organization. Administrators and users will be better protected from common identity related attacks.\",\"isEnabled\":false,\"controlTypes\":[],\"securityDefaultsUpsell\":{\"action\":\"none\",\"dueDateTime\":\"2024-06-26T06:59:17.3271819Z\"}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json;odata.metadata=minimal;odata.streaming=true;IEEE754Compatible=false;charset=utf-8"
            },
            {
              "name": "retry-after",
              "value": "1209600"
            },
            {
              "name": "x-ms-ags-diagnostic",
              "value": "{\"ServerInfo\":{\"DataCenter\":\"Brazil South\",\"Slic[...]
