{
  "log": {
    "_recordingName": "validateInvocationWithInvalidDirectoryId",
    "creator": {
      "comment": "persister:JupiterOneIntegationFSPersister",
      "name": "Polly.JS",
      "version": "4.3.0"
    },
    "entries": [
      {
        "_id": "072477f8ec230178a89668d069f31c11",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/x-www-form-urlencoded"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/x-www-form-urlencoded",
            "params": [],
            "text": "[REDACTED]"
          },
          "queryString": [],
          "url": "https://login.microsoftonline.com/some-fake-directory-id/oauth2/v2.0/token"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 638,
            "text": "{\"error\":\"invalid_request\",\"error_description\":\"AADSTS90002: Tenant 'some-fake-directory-id' not found. This may happen if there are no active subscriptions for the tenant. Check to make sure you have the correct tenant ID. Check with your subscription administrator.\\r\\nTrace ID: b3208d06-1659-4ac0-ad91-6374fb343500\\r\\nCorrelation ID: 7583a854-7c72-4acc-aae2-5f9bc39d2797\\r\\nTimestamp: 2020-09-22 17:41:45Z\",\"error_codes\":[90002],\"timestamp\":\"2020-09-22 17:41:45Z\",\"trace_id\":\"b3208d06-1659-4ac0-ad91-6374fb343500\",\"correlation_id\":\"7583a854-7c72-4acc-aae2-5f9bc39d2797\",\"error_uri\":\"https://login.microsoftonline.com/error?code=90002\"}"
          },
            {
              "httpOnly": true,
              "name": "x-ms-gateway-slice",
              "path": "/",
              "sameSite": "none",
              "secure": true,
              "value": "[REDACTED]"
            },
            {
              "httpOnly": true,
              "name": "stsservicecookie",
              "path": "/",
              "sameSite": "none",
              "secure": true,
              "value": "[REDACTED]"
            }
          ],
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            }
          ],
          "status": 400,
          "statusText": "Bad Request"
        },
        "time": 1220,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
