{
  "log": {
    "_recordingName": "validateInvocationWithInvalidDirectoryId",
    "creator": {
      "comment": "persister:JupiterOneIntegationFSPersister",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "4f54657cc80329d9779f68655772f52d",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/x-www-form-urlencoded"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/x-www-form-urlencoded",
            "params": [],
            "text": "[REDACTED]"
          },
          "queryString": [],
          "url": "https://login.microsoftonline.com/00000000-0000-0000-0000-000000000001/oauth2/v2.0/token"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 691,
            "text": "{\"error\":\"invalid_request\",\"error_description\":\"AADSTS90002: Tenant '00000000-0000-0000-0000-000000000001' not found. Check to make sure you have the correct tenant ID and are signing into the correct cloud. Check with your subscription administrator, this may happen if there are no active subscriptions for the tenant.\",\"error_codes\":[90002],\"timestamp\":\"2023-04-27 11:54:06Z\",\"trace_id\":\"6adb51ba-8d11-410a-91a4-172ea6ab2100\",\"correlation_id\":\"19aa0d10-4977-412b-9eb6-873854024f99\",\"error_uri\":\"https://login.microsoftonline.com/error?code=90002\"}"
          },
            {
              "httpOnly": true,
              "name": "x-ms-gateway-slice",
              "path": "/",
              "sameSite": "none",
              "secure": true,
              "value": "[REDACTED]"
            },
            {
              "httpOnly": true,
              "name": "stsservicecookie",
              "path": "/",
              "sameSite": "none",
              "secure": true,
              "value": "[REDACTED]"
            }
          ],
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            }
          ],
          "status": 400,
          "statusText": "Bad Request"
        },
        "time": 350,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
