{
  "log": {
    "_recordingName": "rm-access-package-assignment-approver-is-user",
    "creator": {
      "comment": "persister:JupiterOneIntegationFSPersister",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "419f8a68424a58ccfbfa7e96d080076d",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/x-www-form-urlencoded"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/x-www-form-urlencoded",
            "params": [],
            "text": "[REDACTED]"
          },
          "queryString": [],
          "url": "https://login.microsoftonline.com/fc65a925-383b-4adf-8848-4c1eec3b3a9e/oauth2/v2.0/token"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 1671,
            "text": "{\"token_type\":\"Bearer\",\"expires_in\":3599,\"ext_expires_in\":3599,\"access_token\":\"[REDACTED]\"}"
          },
            {
              "httpOnly": true,
              "name": "x-ms-gateway-slice",
              "path": "/",
              "sameSite": "none",
              "secure": true,
              "value": "[REDACTED]"
            },
            {
              "httpOnly": true,
              "name": "stsservicecookie",
              "path": "/",
              "sameSite": "none",
              "secure": true,
              "value": "[REDACTED]"
            }
          ],
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "x-ms-srs",
              "value": "1.P"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 1459,
      },
      {
        "_id": "4b6265722a26295dfebd1520b77956c4",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "authorization",
              "value": "[REDACTED]"
            },
            {
              "_fromType": "array",
              "name": "sdkversion",
              "value": "graph-js/2.0.0 (featureUsage=7)"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "$expand",
              "value": "requestor"
            }
          ],
          "url": "https://graph.microsoft.com/v1.0/identityGovernance/entitlementManagement/assignmentRequests?%24expand=requestor"
        },
        "response": {
          "content": {
            "mimeType": "application/json;odata.metadata=minimal;odata.streaming=true;IEEE754Compatible=false;charset=utf-8",
            "size": 1854,
            "text": "{\"@odata.context\":\"https://graph.microsoft.com/v1.0/$metadata#identityGovernance/entitlementManagement/assignmentRequests(requestor())\",\"value\":[{\"id\":\"50d61ba1-736d-430b-a3c1-76f6f1c46a65\",\"requestType\":\"adminAdd\",\"state\":\"delivered\",\"status\":\"Fulfilled\",\"createdDateTime\":\"2024-05-23T15:36:23.943Z\",\"completedDateTime\":\"2024-05-23T15:36:29.913Z\",\"schedule\":{\"startDateTime\":\"2024-05-23T15:36:08.597Z\",\"recurrence\":null,\"expiration\":{\"endDateTime\":null,\"duration\":null,\"type\":\"noExpiration\"}},\"answers\":[],\"customExtensionCalloutInstances\":[],\"requestor\":{\"id\":\"4abb052c-b068-4b78-bdfa-ae0c8f5669bf\",\"objectId\":\"5f33789b-0cae-443b-9f6c-c115895d3c64\",\"displayName\":\"Metron\",\"principalName\":\"metron@developmentjupiterone.onmicrosoft.com\",\"email\":\"metron@developmentjupiterone.onmicrosoft.com\",\"onPremisesSecurityIdentifier\":null,\"subjectType\":\"user\"}},{\"id\":\"651bd085-af2b-4e19-bcba-6e4ab5665f55\",\"requestType\":\"adminAdd\",\"state\":\"partiallyDelivered\",\"status\":\"PartiallyDelivered\",\"createdDateTime\":\"2024-05-14T07:25:02.64Z\",\"completedDateTime\":\"2024-05-14T20:11:44.69Z\",\"schedule\":{\"startDateTime\":\"2024-05-14T07:24:45.97Z\",\"recurrence\":null,\"expiration\":{\"endDateTime\":\"2024-07-10T18:30:00Z\",\"duration\":null,\"type\":\"afterDateTime\"}},\"answers\":[],\"customExtensionCalloutInstances\":[],\"reques[...]
