{
  "log": {
    "_recordingName": "container-services-step-clusters",
    "creator": {
      "comment": "persister:JupiterOneIntegationFSPersister",
      "name": "Polly.JS",
      "version": "4.3.0"
    },
    "entries": [
      {
        "_id": "4eab979841c1f2185e48b484c23ec3e2",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/x-www-form-urlencoded"
            },
            {
              "name": "return-client-request-id",
              "value": "true"
            },
            {
              "name": "x-client-sku",
              "value": "Node"
            },
            {
              "name": "x-client-ver",
              "value": "0.1.28"
            },
            {
              "name": "x-client-os",
              "value": "linux"
            },
            {
              "name": "x-client-cpu",
              "value": "x64"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/x-www-form-urlencoded",
            "params": [],
            "text": "[REDACTED]"
          },
          "queryString": [
            {
              "name": "api-version",
              "value": "1.0"
            }
          ],
          "url": "https://login.microsoftonline.com/19ae0f99-6fc6-444b-bd54-97504efc66ad/oauth2/token?api-version=1.0"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 1450,
            "text": "{\"token_type\":\"Bearer\",\"expires_in\":\"3599\",\"ext_expires_in\":\"3599\",\"expires_on\":\"1634736673\",\"not_before\":\"1634732773\",\"resource\":\"https://management.azure.com/\",\"access_token\":\"[REDACTED]\"}"
          },
            {
              "httpOnly": true,
              "name": "x-ms-gateway-slice",
              "path": "/",
              "secure": true,
              "value": "[REDACTED]"
            },
            {
              "httpOnly": true,
              "name": "stsservicecookie",
              "path": "/",
              "secure": true,
              "value": "[REDACTED]"
            }
          ],
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 758,
      },
      {
        "_id": "5b659db4e0ea98de8227750eb75526ee",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "_fromType": "array",
              "name": "authorization",
              "value": "[REDACTED]"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "api-version",
              "value": "2016-06-01"
            }
          ],
          "url": "https://management.azure.com/subscriptions?api-version=2016-06-01"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 349,
            "text": "{\"value\":[{\"id\":\"/subscriptions/193f89dc-6225-4a80-bacb-96b32fbf6dd0\",\"authorizationSource\":\"RoleBased\",\"subscriptionId\":\"193f89dc-6225-4a80-bacb-96b32fbf6dd0\",\"displayName\":\"jupiterone-integration-dev\",\"state\":\"Enabled\",\"subscriptionPolicies\":{\"locationPlacementId\":\"Public_2014-09-01\",\"quotaId\":\"PayAsYouGo_2014-09-01\",\"spendingLimit\":\"Off\"}}]}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "x-ms-ratelimit-remaining-tenant-reads",
              "value": "11999"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 1554,
      },
      {
        "_id": "176bbdf5bd59216168335650abdb0188",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "_fromType": "array",
              "name": "authorization",
              "value": "[REDACTED]"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "api-version",
              "value": "2021-08-01"
            }
          ],
          "url": "https://management.azure.com/subscriptions/193f89dc-6225-4a80-bacb-96b32fbf6dd0/providers/Microsoft.ContainerService/managedClusters?api-version=2021-08-01"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 2822,
            "text": "{\"value\":[{\"id\":\"/subscriptions/193f89dc-6225-4a80-bacb-96b32fbf6dd0/resourcegroups/k8sgroup/providers/Microsoft.ContainerService/managedClusters/myAKSCluster\",\"location\":\"eastus\",\"name\":\"myAKSCluster\",\"type\":\"Microsoft.ContainerService/ManagedClusters\",\"properties\":{\"provisioningState\":\"Succeeded\",\"powerState\":{\"code\":\"Running\"},\"kubernetesVersion\":\"1.20.9\",\"dnsPrefix\":\"myAKSClust-k8sgroup-193f89\",\"fqdn\":\"myaksclust-k8sgroup-193f89-c10b0202.hcp.eastus.azmk8s.io\",\"azurePortalFQDN\":\"myaksclust-k8sgroup-193f89-c10b0202.portal.hcp.eastus.azmk8s.io\",\"agentPoolProfiles\":[{\"name\":\"nodepool1\",\"count\":1,\"vmSize\":\"Standard_DS2_v2\",\"osDiskSizeGB\":128,\"osDiskType\":\"Managed\",\"kubeletDiskType\":\"OS\",\"maxPods\":110,\"type\":\"VirtualMachineScaleSets\",\"provisioningState\":\"Succeeded\",\"powerState\":{\"code\":\"Running\"},\"orchestratorVersion\":\"1.20.9\",\"enableNodePublicIP\":false,\"mode\":\"System\",\"enableEncryptionAtHost\":false,\"enableUltraSSD\":false,\"osType\":\"Linux\",\"osSKU\":\"Ubuntu\",\"nodeImageVersion\":\"AKSUbuntu-1804gen2containerd-2021.10.02\",\"enableFIPS\":false}],\"linuxProfile\":{\"adminUsername\":\"azureuser\",\"ssh\":{\"publicKeys\":[{\"keyData\":\"ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABgQC3gxI6Oz0YrXUnNGd4QdvFZD8wmbjZoFhO6P7u58DZ/JUP6C3AmmmhLIS1c1Rz1mnxIo25r1e+Xpup5qjH1e9qEqPIe6nd8ogTxPvLJQ+8kY7Qj8oR1QrY51p8BMs9xX9nKxAcdkGnZB6XnX7mUbQ0AFbgpYo89jRxV0TFrqOqM5CjvgVMimlHdttf54pdqeOWfy3kRx/cMD8KBr//wm+i4WZo4bjV2U0bLIOcnOQrcT3HcsAAh//baOqmawVZDhmVrnGYQKbqsAV1m/3U+nYwcCdVLU8LhS3kOCevNli+GvIh5BCxCp2OT242ON3x76nHPBcMY/Cn8KkR7fk4HSwSqgukGE6/O5lYd0/wZs8uabN6k99EPaBsdzyWA+BBzNkwb5sxkJ3svYuzCU8ifCJHUnDyc2M5EI9jwsd+lGAcvV/RpBNwXdcvhaQX78tfsvWD94sBrmZ4MtB6eD5dJVpkLrFqTubEmo0swOkHZ+V3Y0gqRhOSEtvSjrL6yDhmuls= extreme@extreme-desktop\\n\"}]}},\"servicePrincipalProfile\":{\"clientId\":\"msi\"},\"addonProfiles\":{\"omsagent\":{\"enabled\":true,\"config\":{\"logAnalyticsWorkspaceResourceID\":\"/subscriptions/193f89dc-6225-4a80-bacb-96b32fbf6dd0/resourcegroups/defaultresourcegroup-eus/providers/microsoft.operationalinsights/workspaces/defaultworkspace-193f89dc-6225-4a80-bacb-96b32fbf6dd0-eus\"},\"identity\":{\"resourceId\":\"/subscriptions/193f89dc-6225-4a80-bacb-96b32fbf6dd0/resourcegroups/MC_k8sgroup_myAKSCluster_eastus/providers/Microsoft.ManagedIdentity/userAssignedIdentities/omsagent-myakscluster\",\"clientId\":\"7a6a9902-be1f-4d8f-accd-11d9872167cc\",\"objectId\":\"c35e1a5a-264a-4f21-9ff8-bb161e8581d7\"}}},\"nodeResourceGroup\":\"MC_k8sgroup_myAKSCluster_eastus\",\"enableRBAC\":true,\"networkProfile\":{\"networkPlugin\":\"kubenet\",\"loadBalancerSku\":\"Standard\",\"loadBalancerProfile\":{\"managedOutboundIPs\":{\"count\":1},\"effectiveOutboundIPs\":[{\"id\":\"/subscriptions/193f89dc-6225-4a80-bacb-96b32fbf6dd0/resourceGroups/MC_k8sgroup_myAKSCluster_eastus/providers/Microsoft.Network/publicIPAddresses/b19d4441-da10-4b1c-894a-9ccace14b574\"}]},\"podCidr\":\"10.244.0.0/16\",\"serviceCidr\":\"10.0.0.0/16\",\"dnsServiceIP\":\"10.0.0.10\",\"dockerBridgeCidr\":\"172.17.0.1/16\",\"outboundType\":\"loadBalancer\"},\"maxAgentPools\":100,\"identityProfile\":{\"kubeletidentity\":{\"resourceId\":\"/subscriptions/193f89dc-6225-4a80-bacb-96b32fbf6dd0/resourcegroups/MC_k8sgroup_myAKSCluster_eastus/providers/Microsoft.ManagedIdentity/userAssignedIdentities/myAKSCluster-agentpool\",\"clientId\":\"2fd6aba8-3714-414c-b9db-b85d79574006\",\"objectId\":\"78fa9938-e695-420b-bfc2-26ebea7c56ee\"}},\"publicNetworkAccess\":\"Enabled\"},\"identity\":{\"type\":\"SystemAssigned\",\"principalId\":\"8831d48d-4edc-4131-9571-ec8cc8310552\",\"tenantId\":\"19ae0f99-6fc6-444b-bd54-97504efc66ad\"},\"sku\":{\"name\":\"Basic\",\"tier\":\"Free\"}},{\"id\":\"/subscriptions/193f89dc-6225-4a80-bacb-96b32fbf6dd0/resourcegroups/Stefan_Kubernetes_Group/providers/Microsoft.ContainerService/managedClusters/example-kubernetes-cluster\",\"location\":\"centralus\",\"name\":\"example-kubernetes-cluster\",\"type\":\"Microsoft.ContainerService/ManagedClusters\",\"properties\":{\"provisioningState\":\"Succeeded\",\"powerState\":{\"code\":\"Running\"},\"kubernetesVersion\":\"1.20.9\",\"dnsPrefix\":\"example-kubernetes-cluster-dns\",\"fqdn\":\"example-kubernetes-cluster-dns-69830c6f.hcp.centralus.azmk8s.io\",\"azurePortalFQDN\":\"example-kubernetes-cluster-dns-69830c6f.portal.hcp.centralus.azmk8s.io\",\"agentPoolProfiles\":[{\"name\":\"agentpool\",\"count\":1,\"vmSize\":\"Standard_DS2_v2\",\"osDiskSizeGB\":128,\"osDiskType\":\"Managed\",\"kubeletDiskType\":\"OS\",\"maxPods\":110,\"type\":\"VirtualMachineScaleSets\",\"availabilityZones\":[\"1\",\"2\",\"3\"],\"maxCount\":5,\"minCount\":1,\"enableAutoScaling\":true,\"provisioningState\":\"Succeeded\",\"powerState\":{\"code\":\"Running\"},\"orchestratorVersion\":\"1.20.9\",\"mode\":\"System\",\"osType\":\"Linux\",\"osSKU\":\"Ubuntu\",\"nodeImageVersion\":\"AKSUbuntu-1804gen2containerd-2021.09.06\",\"enableFIPS\":false}],\"servicePrincipalProfile\":{\"clientId\":\"msi\"},\"addonProfiles\":{\"azurepolicy\":{\"enabled\":false,\"config\":null},\"httpApplicationRouting\":{\"enabled\":false,\"config\":null},\"omsAgent\":{\"enabled\":true,\"config\":{\"logAnalyticsWorkspaceResourceID\":\"/subscriptions/193f89dc-6225-4a80-bacb-96b32fbf6dd0/resourcegroups/defaultresourcegroup-cus/providers/microsoft.operationalinsights/workspaces/defaultworkspace-193f89dc-6225-4a80-bacb-96b32fbf6dd0-cus\"},\"identity\":{\"resourceId\":\"/subscriptions/193f89dc-6225-4a80-bacb-96b32fbf6dd0/resourcegroups/MC_Stefan_Kubernetes_Group_example-kubernetes-cluster_centralus/providers/Microsoft.ManagedIdentity/userAssignedIdentities/omsagent-example-kubernetes-cluster\",\"clientId\":\"c5efa6c6-ee36-474b-83c7-7e61648db319\",\"objectId\":\"de66d3ef-e90d-4824-a435-7a170c716858\"}}},\"nodeResourceGroup\":\"MC_Stefan_Kubernetes_Group_example-kubernetes-cluster_centralus\",\"enableRBAC\":true,\"networkProfile\":{\"networkPlugin\":\"kubenet\",\"loadBalancerSku\":\"Standard\",\"loadBalancerProfile\":{\"managedOutboundIPs\":{\"count\":1},\"effectiveOutboundIPs\":[{\"id\":\"/subscriptions/193f89dc-6225-4a80-bacb-96b32fbf6dd0/resourceGroups/MC_Stefan_Kubernetes_Group_example-kubernetes-cluster_centralus/providers/Microsoft.Network/publicIPAddresses/6b6e39bb-e1e2-4277-a986-36ebaeb026a6\"}]},\"podCidr\":\"10.244.0.0/16\",\"serviceCidr\":\"10.0.0.0/16\",\"dnsServiceIP\":\"10.0.0.10\",\"dockerBridgeCidr\":\"172.17.0.1/16\",\"outboundType\":\"loadBalancer\"},\"maxAgentPools\":100,\"apiServerAccessProfile\":{\"enablePrivateCluster\":false},\"identityProfile\":{\"kubeletidentity\":{\"resourceId\":\"/subscriptions/193f89dc-6225-4a80-bacb-96b32fbf6dd0/resourcegroups/MC_Stefan_Kubernetes_Group_example-kubernetes-cluster_centralus/providers/Microsoft.ManagedIdentity/userAssignedIdentities/example-kubernetes-cluster-agentpool\",\"clientId\":\"a9416351-1e44-4ea0-bbd8-de3150240004\",\"objectId\":\"ec9f14b7-5890-474f-ae73-b502a87b720d\"}},\"publicNetworkAccess\":\"Enabled\"},\"identity\":{\"type\":\"SystemAssigned\",\"principalId\":\"693db8e6-04b0-4570-9a5a-1229839d08c9\",\"tenantId\":\"19ae0f99-6fc6-444b-bd54-97504efc66ad\"},\"sku\":{\"name\":\"Basic\",\"tier\":\"Free\"}}]}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "x-ms-original-request-ids",
              "value": "33dad253-2808-4fea-bb16-7ee69b755ff1, b5fb0c82-6c8e-4a80-a10b-e89a72bae8ce"
            },
            {
              "name": "x-ms-ratelimit-remaining-subscription-reads",
              "value": "11997"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 1374,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
