{
  "log": {
    "_recordingName": "active-directory-steps",
    "creator": {
      "comment": "persister:JupiterOneIntegationFSPersister",
      "name": "Polly.JS",
      "version": "4.3.0"
    },
    "entries": [
      {
        "_id": "419f8a68424a58ccfbfa7e96d080076d",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/x-www-form-urlencoded"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/x-www-form-urlencoded",
            "params": [],
            "text": "[REDACTED]"
          },
          "queryString": [],
          "url": "https://login.microsoftonline.com/39c627c0-808a-40b2-ba23-9bc42c4fe580/oauth2/v2.0/token"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 1852,
            "text": "{\"token_type\":\"Bearer\",\"expires_in\":3599,\"ext_expires_in\":3599,\"access_token\":\"[REDACTED]\"}"
          },
            {
              "httpOnly": true,
              "name": "x-ms-gateway-slice",
              "path": "/",
              "sameSite": "none",
              "secure": true,
              "value": "[REDACTED]"
            },
            {
              "httpOnly": true,
              "name": "stsservicecookie",
              "path": "/",
              "sameSite": "none",
              "secure": true,
              "value": "[REDACTED]"
            }
          ],
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 408,
      },
      {
        "_id": "39cb0d299503e6ab1f6a07ceece09c83",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "authorization",
              "value": "[REDACTED]"
            },
            {
              "_fromType": "array",
              "name": "sdkversion",
              "value": "graph-js/2.0.0 (featureUsage=7)"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://graph.microsoft.com/v1.0/organization"
        },
        "response": {
          "content": {
            "mimeType": "application/json;odata.metadata=minimal;odata.streaming=true;IEEE754Compatible=false;charset=utf-8",
            "size": 1902,
            "text": "{\"@odata.context\":\"https://graph.microsoft.com/v1.0/$metadata#organization\",\"value\":[{\"@odata.id\":\"https://graph.microsoft.com/v2/39c627c0-808a-40b2-ba23-9bc42c4fe580/directoryObjects/39c627c0-808a-40b2-ba23-9bc42c4fe580/Microsoft.DirectoryServices.Organization\",\"id\":\"39c627c0-808a-40b2-ba23-9bc42c4fe580\",\"deletedDateTime\":null,\"businessPhones\":[],\"city\":null,\"country\":null,\"countryLetterCode\":\"US\",\"createdDateTime\":\"2018-05-28T20:45:37Z\",\"displayName\":\"escribir.io\",\"isMultipleDataLocationsForServicesEnabled\":null,\"marketingNotificationEmails\":[],\"onPremisesLastSyncDateTime\":null,\"onPremisesSyncEnabled\":null,\"postalCode\":null,\"preferredLanguage\":\"en\",\"securityComplianceNotificationMails\":[],\"securityComplianceNotificationPhones\":[],\"state\":null,\"street\":null,\"technicalNotificationMails\":[],\"tenantType\":\"AAD\",\"directorySizeQuota\":{\"used\":112,\"total\":50000},\"privacyProfile\":null,\"assignedPlans\":[{\"assignedDateTime\":\"2021-05-20T21:56:55Z\",\"capabilityStatus\":\"Enabled\",\"service\":\"Adallom\",\"servicePlanId\":\"932ad362-64a8-4783-9106-97849a1a30b9\"},{\"assignedDateTime\":\"2021-05-20T21:56:55Z\",\"capabilityStatus\":\"Enabled\",\"service\":\"MultiFactorService\",\"servicePlanId\":\"8a256a2b-b617-496d-b51b-e76466e88db0\"},{\"assignedDateTime\":\"2021-05-20T21:56:55Z\",\"capabilityStatus\":\"Enabled\",\"service\":\"AADPremiumService\",\"servicePlanId\":\"41781fb2-bc02-4b7c-bd55-b576c07bb09d\"},{\"assignedDateTime\":\"2021-05-20T21:56:55Z\",\"capabilityStatus\":\"Enabled\",\"service\":\"AADPremiumService\",\"servicePlanId\":\"eec0eb4f-6444-4f95-aba0-50c24d67f998\"},{\"assignedDateTime\":\"2021-05-20T21:40:51Z\",\"capabilityStatus\":\"Enabled\",\"service\":\"WindowsAzure\",\"servicePlanId\":\"fca3e605-0754-4279-8504-3f1229f29614\"},{\"assignedDateTime\":\"2018-05-28T20:45:38Z\",\"capabilityStatus\":\"Enabled\",\"service\":\"AzureAnalysis\",\"servicePlanId\":\"2049e525-b859-401b-b2a0-e0a31c4b1fe4\"},{\"assignedDateTime\":\"2018-05-28T20:45:38Z\",\"capabilityStatus\":\"Enabled\",\"service\":\"exchange\",\"servicePlanId\":\"113feb6c-3fe4-4440-bddc-54d774bf0318\"}],\"provisionedPlans\":[{\"capabilityStatus\":\"Enabled\",\"provisioningStatus\":\"Success\",\"service\":\"Adallom\"},{\"capabilityStatus\":\"Enabled\",\"provisioningStatus\":\"Success\",\"service\":\"exchange\"}],\"verifiedDomains\":[{\"capabilities\":\"Email, OfficeCommunicationsOnline\",\"isDefault\":false,\"isInitial\":true,\"name\":\"escribirio.onmicrosoft.com\",\"type\":\"Managed\"},{\"capabilities\":\"None\",\"isDefault\":true,\"isInitial\":false,\"name\":\"escribir.io\",\"type\":\"Managed\"}]}]}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json;odata.metadata=minimal;odata.streaming=true;IEEE754Compatible=false;charset=utf-8"
            },
            {
              "name": "x-ms-ags-diagnostic",
              "value": "{\"ServerInfo\":{\"DataCenter\":\"South Central US\",\"Slice\":\"E\",\"Ring\":\"3\",\"ScaleUnit\":\"000\",\"RoleInstance\":\"SN1PEPF000051D0\"}}"
            },
            {
              "name": "x-ms-resource-unit",
              "value": "1"
            },
            {
              "name": "odata-version",
              "value": "4.0"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 541,
      },
      {
        "_id": "419f8a68424a58ccfbfa7e96d080076d",
        "request": {
          "headers": [
            {
              "_fromType": "array",
     [...]
