{
  "log": {
    "_recordingName": "resource-manager-step-api-management-services",
    "creator": {
      "comment": "persister:JupiterOneIntegationFSPersister",
      "name": "Polly.JS",
      "version": "4.3.0"
    },
    "entries": [
      {
        "_id": "a083439df9cb90ab0ef889609d0aa995",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/x-www-form-urlencoded"
            },
            {
              "name": "return-client-request-id",
              "value": "true"
            },
            {
              "name": "x-client-sku",
              "value": "Node"
            },
            {
              "name": "x-client-ver",
              "value": "0.1.28"
            },
            {
              "name": "x-client-os",
              "value": "darwin"
            },
            {
              "name": "x-client-cpu",
              "value": "x64"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/x-www-form-urlencoded",
            "params": [],
            "text": "[REDACTED]"
          },
          "queryString": [
            {
              "name": "api-version",
              "value": "1.0"
            }
          ],
          "url": "https://login.microsoftonline.com/992d7bbe-b367-459c-a10f-cf3fd16103ab/oauth2/token?api-version=1.0"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 1450,
            "text": "{\"token_type\":\"Bearer\",\"expires_in\":\"3599\",\"ext_expires_in\":\"3599\",\"expires_on\":\"1599597471\",\"not_before\":\"1599593571\",\"resource\":\"https://management.azure.com/\",\"access_token\":\"[REDACTED]\"}"
          },
            {
              "httpOnly": true,
              "name": "x-ms-gateway-slice",
              "path": "/",
              "secure": true,
              "value": "[REDACTED]"
            },
            {
              "httpOnly": true,
              "name": "stsservicecookie",
              "path": "/",
              "secure": true,
              "value": "[REDACTED]"
            }
          ],
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 307,
      },
      {
        "_id": "5b659db4e0ea98de8227750eb75526ee",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "_fromType": "array",
              "name": "authorization",
              "value": "[REDACTED]"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "api-version",
              "value": "2016-06-01"
            }
          ],
          "url": "https://management.azure.com/subscriptions?api-version=2016-06-01"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 355,
            "text": "{\"value\":[{\"id\":\"/subscriptions/d3803fd6-2ba4-4286-80aa-f3d613ad59a7\",\"authorizationSource\":\"RoleBased\",\"subscriptionId\":\"d3803fd6-2ba4-4286-80aa-f3d613ad59a7\",\"displayName\":\"nick-dowmon-gmail-graph-azure-subscription\",\"state\":\"Enabled\",\"subscriptionPolicies\":{\"locationPlacementId\":\"Public_2014-09-01\",\"quotaId\":\"FreeTrial_2014-09-01\",\"spendingLimit\":\"On\"}}]}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "x-ms-ratelimit-remaining-tenant-reads",
              "value": "11999"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 282,
      },
      {
        "_id": "74d78fef53cef11328d0af910c6bae9e",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "_fromType": "array",
              "name": "authorization",
              "value": "[REDACTED]"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "api-version",
              "value": "2019-12-01"
            }
          ],
          "url": "https://management.azure.com/subscriptions/d3803fd6-2ba4-4286-80aa-f3d613ad59a7/providers/Microsoft.ApiManagement/service?api-version=2019-12-01"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 2347,
            "text": "{\"value\":[{\"id\":\"/subscriptions/d3803fd6-2ba4-4286-80aa-f3d613ad59a7/resourceGroups/j1dev/providers/Microsoft.ApiManagement/service/j1dev\",\"name\":\"j1dev\",\"type\":\"Microsoft.ApiManagement/service\",\"tags\":{},\"location\":\"East US\",\"etag\":\"AAAAAAAVrY8=\",\"properties\":{\"publisherEmail\":\"ndowmon@jupiterone.com\",\"publisherName\":\"JupiterOne\",\"notificationSenderEmail\":\"apimgmt-noreply@mail.windowsazure.com\",\"provisioningState\":\"Succeeded\",\"targetProvisioningState\":\"\",\"createdAtUtc\":\"2020-09-08T18:17:27.9873361Z\",\"gatewayUrl\":\"https://j1dev.azure-api.net\",\"gatewayRegionalUrl\":\"https://j1dev-eastus-01.regional.azure-api.net\",\"portalUrl\":\"https://j1dev.portal.azure-api.net\",\"developerPortalUrl\":\"https://j1dev.developer.azure-api.net\",\"managementApiUrl\":\"https://j1dev.management.azure-api.net\",\"scmUrl\":\"https://j1dev.scm.azure-api.net\",\"hostnameConfigurations\":[{\"type\":\"Proxy\",\"hostName\":\"j1dev.azure-api.net\",\"encodedCertificate\":null,\"keyVaultId\":null,\"certificatePassword\":null,\"negotiateClientCertificate\":false,\"certificate\":null,\"defaultSslBinding\":true}],\"publicIPAddresses\":[\"138.91.127.67\"],\"privateIPAddresses\":null,\"additionalLocations\":null,\"virtualNetworkConfiguration\":null,\"customProperties\":{\"Microsoft.WindowsAzure.ApiManagement.Gateway.Security.Backend.Protocols.Ssl30\":\"false\",\"Microsoft.WindowsAzure.ApiManagement.Gateway.Security.Backend.Protocols.Tls10\":\"false\",\"Microsoft.WindowsAzure.ApiManagement.Gateway.Security.Backend.Protocols.Tls11\":\"false\",\"Microsoft.WindowsAzure.ApiManagement.Gateway.Security.Ciphers.TripleDes168\":\"false\",\"Microsoft.WindowsAzure.ApiManagement.Gateway.Security.Protocols.Ssl30\":\"false\",\"Microsoft.WindowsAzure.ApiManagement.Gateway.Security.Protocols.Tls10\":\"false\",\"Microsoft.WindowsAzure.ApiManagement.Gateway.Security.Protocols.Tls11\":\"false\",\"Microsoft.WindowsAzure.ApiManagement.Gateway.Protocols.Server.Http2\":\"False\"},\"virtualNetworkType\":\"None\",\"certificates\":[],\"disableGateway\":false,\"apiVersionConstraint\":{\"minApiVersion\":null}},\"sku\":{\"name\":\"Developer\",\"capacity\":1},\"identity\":null},{\"id\":\"/subscriptions/d3803fd6-2ba4-4286-80aa-f3d613ad59a7/resourceGroups/j1dev/providers/Microsoft.ApiManagement/service/nick-api-management\",\"name\":\"nick-api-management\",\"type\":\"Microsoft.ApiManagement/service\",\"tags\":{},\"location\":\"East US\",\"etag\":\"AAAAAAAVrK4=\",\"properties\":{\"publisherEmail\":\"ndowmon@gmail.com\",\"publisherName\":\"nick-j1\",\"notificationSenderEmail\":\"apimgmt-noreply@mail.windowsazure.com\",\"provisioningState\":\"Succeeded\",\"targetProvi[...]
