{
  "log": {
    "_recordingName": "resource-manager-step-api-management-services",
    "creator": {
      "comment": "persister:JupiterOneIntegationFSPersister",
      "name": "Polly.JS",
      "version": "4.3.0"
    },
    "entries": [
      {
        "_id": "9d62ae571eb541c135fae72616ae365c",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/x-www-form-urlencoded"
            },
            {
              "name": "return-client-request-id",
              "value": "true"
            },
            {
              "name": "x-client-sku",
              "value": "Node"
            },
            {
              "name": "x-client-ver",
              "value": "0.1.28"
            },
            {
              "name": "x-client-os",
              "value": "darwin"
            },
            {
              "name": "x-client-cpu",
              "value": "x64"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/x-www-form-urlencoded",
            "params": [],
            "text": "[REDACTED]"
          },
          "queryString": [
            {
              "name": "api-version",
              "value": "1.0"
            }
          ],
          "url": "https://login.microsoftonline.com/4a17becb-fb42-4633-b5c8-5ab66f28d195/oauth2/token?api-version=1.0"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 1450,
            "text": "{\"token_type\":\"Bearer\",\"expires_in\":\"3599\",\"ext_expires_in\":\"3599\",\"expires_on\":\"1613169459\",\"not_before\":\"1613165559\",\"resource\":\"https://management.azure.com/\",\"access_token\":\"[REDACTED]\"}"
          },
            {
              "httpOnly": true,
              "name": "x-ms-gateway-slice",
              "path": "/",
              "secure": true,
              "value": "[REDACTED]"
            },
            {
              "httpOnly": true,
              "name": "stsservicecookie",
              "path": "/",
              "secure": true,
              "value": "[REDACTED]"
            }
          ],
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 468,
      },
      {
        "_id": "5b659db4e0ea98de8227750eb75526ee",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "_fromType": "array",
              "name": "authorization",
              "value": "[REDACTED]"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "api-version",
              "value": "2016-06-01"
            }
          ],
          "url": "https://management.azure.com/subscriptions?api-version=2016-06-01"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 337,
            "text": "{\"value\":[{\"id\":\"/subscriptions/87f62f44-9dad-4284-a08f-f2fb3d8b528a\",\"authorizationSource\":\"RoleBased\",\"subscriptionId\":\"87f62f44-9dad-4284-a08f-f2fb3d8b528a\",\"displayName\":\"Azure subscription 1\",\"state\":\"Enabled\",\"subscriptionPolicies\":{\"locationPlacementId\":\"Public_2014-09-01\",\"quotaId\":\"PayAsYouGo_2014-09-01\",\"spendingLimit\":\"Off\"}}]}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "x-ms-ratelimit-remaining-tenant-reads",
              "value": "11999"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 325,
      },
      {
        "_id": "5f88b5baceb106dde72009950f71d9a9",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "_fromType": "array",
              "name": "authorization",
              "value": "[REDACTED]"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "api-version",
              "value": "2019-12-01"
            }
          ],
          "url": "https://management.azure.com/subscriptions/87f62f44-9dad-4284-a08f-f2fb3d8b528a/providers/Microsoft.ApiManagement/service?api-version=2019-12-01"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 1917,
            "text": "{\"value\":[{\"id\":\"/subscriptions/87f62f44-9dad-4284-a08f-f2fb3d8b528a/resourceGroups/j1dev/providers/Microsoft.ApiManagement/service/j1dev\",\"name\":\"j1dev\",\"type\":\"Microsoft.ApiManagement/service\",\"tags\":{},\"location\":\"East US\",\"etag\":\"AAAAAAAn0iA=\",\"properties\":{\"publisherEmail\":\"ndowmon@jupiterone.com\",\"publisherName\":\"JupiterOne\",\"notificationSenderEmail\":\"apimgmt-noreply@mail.windowsazure.com\",\"provisioningState\":\"Succeeded\",\"targetProvisioningState\":\"\",\"createdAtUtc\":\"2021-02-12T18:42:31.6531742Z\",\"gatewayUrl\":\"https://j1dev.azure-api.net\",\"gatewayRegionalUrl\":\"https://j1dev-eastus-01.regional.azure-api.net\",\"portalUrl\":\"https://j1dev.portal.azure-api.net\",\"developerPortalUrl\":\"https://j1dev.developer.azure-api.net\",\"managementApiUrl\":\"https://j1dev.management.azure-api.net\",\"scmUrl\":\"https://j1dev.scm.azure-api.net\",\"hostnameConfigurations\":[{\"type\":\"Proxy\",\"hostName\":\"j1dev.azure-api.net\",\"encodedCertificate\":null,\"keyVaultId\":null,\"certificatePassword\":null,\"negotiateClientCertificate\":false,\"certificate\":null,\"defaultSslBinding\":true}],\"publicIPAddresses\":[\"40.121.14.61\"],\"privateIPAddresses\":null,\"additionalLocations\":null,\"virtualNetworkConfiguration\":null,\"customProperties\":{\"Microsoft.WindowsAzure.ApiManagement.Gateway.Security.Backend.Protocols.Ssl30\":\"false\",\"Microsoft.WindowsAzure.ApiManagement.Gateway.Security.Backend.Protocols.Tls10\":\"false\",\"Microsoft.WindowsAzure.ApiManagement.Gateway.Security.Backend.Protocols.Tls11\":\"false\",\"Microsoft.WindowsAzure.ApiManagement.Gateway.Security.Ciphers.TripleDes168\":\"false\",\"Microsoft.WindowsAzure.ApiManagement.Gateway.Security.Protocols.Ssl30\":\"false\",\"Microsoft.WindowsAzure.ApiManagement.Gateway.Security.Protocols.Tls10\":\"false\",\"Microsoft.WindowsAzure.ApiManagement.Gateway.Security.Protocols.Tls11\":\"false\",\"Microsoft.WindowsAzure.ApiManagement.Gateway.Protocols.Server.Http2\":\"False\"},\"virtualNetworkType\":\"None\",\"certificates\":[],\"disableGateway\":false,\"apiVersionConstraint\":{\"minApiVersion\":null}},\"sku\":{\"name\":\"Developer\",\"capacity\":1},\"identity\":null}]}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "x-ms-ratelimit-remaining-subscription-reads",
              "value": "11999"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 486,
      },
      {
        "_id": "5f88b5baceb106dde72009950f71d9a9",
        "request": {
          "head[...]
