{
  "log": {
    "_recordingName": "iteratePostgreSQLDatabases",
    "creator": {
      "comment": "persister:JupiterOneIntegationFSPersister",
      "name": "Polly.JS",
      "version": "4.3.0"
    },
    "entries": [
      {
        "_id": "9d62ae571eb541c135fae72616ae365c",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/x-www-form-urlencoded"
            },
            {
              "name": "return-client-request-id",
              "value": "true"
            },
            {
              "name": "x-client-sku",
              "value": "Node"
            },
            {
              "name": "x-client-ver",
              "value": "0.1.28"
            },
            {
              "name": "x-client-os",
              "value": "darwin"
            },
            {
              "name": "x-client-cpu",
              "value": "x64"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/x-www-form-urlencoded",
            "params": [],
            "text": "[REDACTED]"
          },
          "queryString": [
            {
              "name": "api-version",
              "value": "1.0"
            }
          ],
          "url": "https://login.microsoftonline.com/4a17becb-fb42-4633-b5c8-5ab66f28d195/oauth2/token?api-version=1.0"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 1450,
            "text": "{\"token_type\":\"Bearer\",\"expires_in\":\"3599\",\"ext_expires_in\":\"3599\",\"expires_on\":\"1613673706\",\"not_before\":\"1613669806\",\"resource\":\"https://management.azure.com/\",\"access_token\":\"[REDACTED]\"}"
          },
            {
              "httpOnly": true,
              "name": "x-ms-gateway-slice",
              "path": "/",
              "secure": true,
              "value": "[REDACTED]"
            },
            {
              "httpOnly": true,
              "name": "stsservicecookie",
              "path": "/",
              "secure": true,
              "value": "[REDACTED]"
            }
          ],
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 384,
      },
      {
        "_id": "5b659db4e0ea98de8227750eb75526ee",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "_fromType": "array",
              "name": "authorization",
              "value": "[REDACTED]"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "api-version",
              "value": "2016-06-01"
            }
          ],
          "url": "https://management.azure.com/subscriptions?api-version=2016-06-01"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 337,
            "text": "{\"value\":[{\"id\":\"/subscriptions/87f62f44-9dad-4284-a08f-f2fb3d8b528a\",\"authorizationSource\":\"RoleBased\",\"subscriptionId\":\"87f62f44-9dad-4284-a08f-f2fb3d8b528a\",\"displayName\":\"Azure subscription 1\",\"state\":\"Enabled\",\"subscriptionPolicies\":{\"locationPlacementId\":\"Public_2014-09-01\",\"quotaId\":\"PayAsYouGo_2014-09-01\",\"spendingLimit\":\"Off\"}}]}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "x-ms-ratelimit-remaining-tenant-reads",
              "value": "11999"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 199,
      },
      {
        "_id": "6c3c0da5aa8ebef1dedac9f5de7eea35",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "_fromType": "array",
              "name": "authorization",
              "value": "[REDACTED]"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "api-version",
              "value": "2017-12-01"
            }
          ],
          "url": "https://management.azure.com/subscriptions/87f62f44-9dad-4284-a08f-f2fb3d8b528a/resourceGroups/j1dev/providers/Microsoft.DBforPostgreSQL/servers/j1dev-psqlserver/databases?api-version=2017-12-01"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 789,
            "text": "{\"value\":[{\"properties\":{\"charset\":\"UTF8\",\"collation\":\"English_United States.1252\"},\"id\":\"/subscriptions/87f62f44-9dad-4284-a08f-f2fb3d8b528a/resourceGroups/j1dev/providers/Microsoft.DBforPostgreSQL/servers/j1dev-psqlserver/databases/postgres\",\"name\":\"postgres\",\"type\":\"Microsoft.DBforPostgreSQL/servers/databases\"},{\"properties\":{\"charset\":\"UTF8\",\"collation\":\"English_United States.1252\"},\"id\":\"/subscriptions/87f62f44-9dad-4284-a08f-f2fb3d8b528a/resourceGroups/j1dev/providers/Microsoft.DBforPostgreSQL/servers/j1dev-psqlserver/databases/azure_maintenance\",\"name\":\"azure_maintenance\",\"type\":\"Microsoft.DBforPostgreSQL/servers/databases\"},{\"properties\":{\"charset\":\"UTF8\",\"collation\":\"English_United States.1252\"},\"id\":\"/subscriptions/87f62f44-9dad-4284-a08f-f2fb3d8b528a/resourceGroups/j1dev/providers/Microsoft.DBforPostgreSQL/servers/j1dev-psqlserver/databases/azure_sys\",\"name\":\"azure_sys\",\"type\":\"Microsoft.DBforPostgreSQL/servers/databases\"}]}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "x-ms-ratelimit-remaining-subscription-reads",
              "value": "11999"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 597,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
