{
  "log": {
    "_recordingName": "validateManagementGroupStepInvocation#badCredentials",
    "creator": {
      "comment": "persister:JupiterOneIntegationFSPersister",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "419f8a68424a58ccfbfa7e96d080076d",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/x-www-form-urlencoded;charset=utf-8"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/x-www-form-urlencoded;charset=utf-8",
            "params": [],
            "text": "[REDACTED]"
          },
          "queryString": [],
          "url": "https://login.microsoftonline.com/directoryid/oauth2/v2.0/token"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 525,
            "text": "{\"error\":\"invalid_request\",\"error_description\":\"AADSTS900023: Specified tenant identifier 'directoryid' is neither a valid DNS name, nor a valid external domain. Trace ID: f437ee95-32b6-4f78-b7dd-e2fa24d78800 Correlation ID: f31b8958-fad9-4e24-b123-812c6ef2e5ec Timestamp: 2024-08-19 18:38:14Z\",\"error_codes\":[900023],\"timestamp\":\"2024-08-19 18:38:14Z\",\"trace_id\":\"f437ee95-32b6-4f78-b7dd-e2fa24d78800\",\"correlation_id\":\"f31b8958-fad9-4e24-b123-812c6ef2e5ec\",\"error_uri\":\"https://login.microsoftonline.com/error?code=900023\"}"
          },
            {
              "httpOnly": true,
              "name": "x-ms-gateway-slice",
              "path": "/",
              "sameSite": "none",
              "secure": true,
              "value": "[REDACTED]"
            },
            {
              "httpOnly": true,
              "name": "stsservicecookie",
              "path": "/",
              "sameSite": "none",
              "secure": true,
              "value": "[REDACTED]"
            }
          ],
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "x-ms-srs",
              "value": "1.P"
            }
          ],
          "status": 400,
          "statusText": "Bad Request"
        },
        "time": 394,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
