{
  "log": {
    "_recordingName": "rm-azure-access-package-has-application",
    "creator": {
      "comment": "persister:JupiterOneIntegationFSPersister",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "419f8a68424a58ccfbfa7e96d080076d",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/x-www-form-urlencoded"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/x-www-form-urlencoded",
            "params": [],
            "text": "[REDACTED]"
          },
          "queryString": [],
          "url": "https://login.microsoftonline.com/fc65a925-383b-4adf-8848-4c1eec3b3a9e/oauth2/v2.0/token"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 1861,
            "text": "{\"token_type\":\"Bearer\",\"expires_in\":3599,\"ext_expires_in\":3599,\"access_token\":\"[REDACTED]\"}"
          },
            {
              "httpOnly": true,
              "name": "x-ms-gateway-slice",
              "path": "/",
              "sameSite": "none",
              "secure": true,
              "value": "[REDACTED]"
            },
            {
              "httpOnly": true,
              "name": "stsservicecookie",
              "path": "/",
              "sameSite": "none",
              "secure": true,
              "value": "[REDACTED]"
            }
          ],
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "x-ms-srs",
              "value": "1.P"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 473,
      },
      {
        "_id": "a3e194a056ded7e517d2149b2216025a",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "authorization",
              "value": "[REDACTED]"
            },
            {
              "_fromType": "array",
              "name": "sdkversion",
              "value": "graph-js/2.0.0 (featureUsage=7)"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://graph.microsoft.com/v1.0/identityGovernance/entitlementManagement/accessPackages"
        },
        "response": {
          "content": {
            "mimeType": "application/json;odata.metadata=minimal;odata.streaming=true;IEEE754Compatible=false;charset=utf-8",
            "size": 574,
            "text": "{\"@odata.context\":\"https://graph.microsoft.com/v1.0/$metadata#identityGovernance/entitlementManagement/accessPackages\",\"value\":[{\"id\":\"00907e73-5aa3-456f-83b2-c9d0baeaa21f\",\"displayName\":\"demo\",\"description\":\"demo-package\",\"isHidden\":false,\"createdDateTime\":\"2024-05-23T11:11:43.347Z\",\"modifiedDateTime\":\"2024-05-23T11:11:43.347Z\"},{\"id\":\"87626ed4-62ec-46b2-a33c-70da47f71bc0\",\"displayName\":\"demo-access-package\",\"description\":\"demo-package for development\",\"isHidden\":false,\"createdDateTime\":\"2024-05-13T11:33:32.037Z\",\"modifiedDateTime\":\"2024-05-15T06:40:21.943Z\"},{\"id\":\"6ef9a264-ca9b-4a0f-92c6-27428e94fdb8\",\"displayName\":\"suraj-metron-access-package\",\"description\":\"Test Access Package from Suraj\",\"isHidden\":false,\"createdDateTime\":\"2024-04-12T11:08:30.283Z\",\"modifiedDateTime\":\"2024-05-23T12:23:38.983Z\"}]}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json;odata.metadata=minimal;odata.streaming=true;IEEE754Compatible=false;charset=utf-8"
            },
            {
              "name": "x-ms-ags-diagnostic",
              "value": "{\"ServerInfo\":{\"DataCenter\":\"Central India\",\"Slice\":\"E\",\"Ring\":\"3\",\"ScaleUnit\":\"000\",\"RoleInstance\":\"PN1PEPF00007040\"}}"
            },
            {
              "name": "odata-version",
              "value": "4.0"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 1331,
      },
      {
        "_id": "419f8a68424a58ccfbfa7e96d080076d",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/x-www-form-urlencoded"
       [...]
