{
  "log": {
    "_recordingName": "build-conditional-access-policy-contains-conditional-access-named-location-relationships",
    "creator": {
      "comment": "persister:JupiterOneIntegationFSPersister",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "419f8a68424a58ccfbfa7e96d080076d",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/x-www-form-urlencoded"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/x-www-form-urlencoded",
            "params": [],
            "text": "[REDACTED]"
          },
          "queryString": [],
          "url": "https://login.microsoftonline.com/19ae0f99-6fc6-444b-bd54-97504efc66ad/oauth2/v2.0/token"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 1776,
            "text": "{\"token_type\":\"Bearer\",\"expires_in\":3599,\"ext_expires_in\":3599,\"access_token\":\"[REDACTED]\"}"
          },
            {
              "httpOnly": true,
              "name": "x-ms-gateway-slice",
              "path": "/",
              "sameSite": "none",
              "secure": true,
              "value": "[REDACTED]"
            },
            {
              "httpOnly": true,
              "name": "stsservicecookie",
              "path": "/",
              "sameSite": "none",
              "secure": true,
              "value": "[REDACTED]"
            }
          ],
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "x-ms-srs",
              "value": "1.P"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 621,
      },
      {
        "_id": "c04c091bfbf3fc896c31bb61abfb7309",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "authorization",
              "value": "[REDACTED]"
            },
            {
              "_fromType": "array",
              "name": "sdkversion",
              "value": "graph-js/2.0.0 (featureUsage=7)"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://graph.microsoft.com/v1.0/identity/conditionalAccess/namedLocations"
        },
        "response": {
          "content": {
            "mimeType": "application/json;odata.metadata=minimal;odata.streaming=true;IEEE754Compatible=false;charset=utf-8",
            "size": 434,
            "text": "{\"@odata.context\":\"https://graph.microsoft.com/v1.0/$metadata#identity/conditionalAccess/namedLocations\",\"value\":[{\"@odata.type\":\"#microsoft.graph.countryNamedLocation\",\"id\":\"1c21307d-eac8-48d9-b87e-c335baba2ac6\",\"displayName\":\"test_location\",\"modifiedDateTime\":\"2024-06-26T06:47:25.8332347Z\",\"createdDateTime\":\"2024-06-26T06:47:25.8332347Z\",\"countriesAndRegions\":[\"US\"],\"includeUnknownCountriesAndRegions\":false,\"countryLookupMethod\":\"clientIpAddress\"}]}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json;odata.metadata=minimal;odata.streaming=true;IEEE754Compatible=false;charset=utf-8"
            },
            {
              "name": "x-ms-ags-diagnostic",
              "value": "{\"ServerInfo\":{\"DataCenter\":\"Central India\",\"Slice\":\"E\",\"Ring\":\"3\",\"ScaleUnit\":\"002\",\"RoleInstance\":\"PN2PEPF000002D9\"}}"
            },
            {
              "name": "odata-version",
              "value": "4.0"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 654,
      },
      {
        "_id": "419f8a68424a58ccfbfa7e96d080076d",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/x-www-form-urlencoded"
        [...]
