{
  "log": {
    "_recordingName": "resource-manager-step-redis-caches",
    "creator": {
      "comment": "persister:JupiterOneIntegationFSPersister",
      "name": "Polly.JS",
      "version": "4.3.0"
    },
    "entries": [
      {
        "_id": "3440be136d06dd892a0cafcdd940df38",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/x-www-form-urlencoded"
            },
            {
              "name": "return-client-request-id",
              "value": "true"
            },
            {
              "name": "x-client-sku",
              "value": "Node"
            },
            {
              "name": "x-client-ver",
              "value": "0.1.28"
            },
            {
              "name": "x-client-os",
              "value": "darwin"
            },
            {
              "name": "x-client-cpu",
              "value": "x64"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/x-www-form-urlencoded",
            "params": [],
            "text": "[REDACTED]"
          },
          "queryString": [
            {
              "name": "api-version",
              "value": "1.0"
            }
          ],
          "url": "https://login.microsoftonline.com/bcd90474-9b62-4040-9d7b-8af257b1427d/oauth2/token?api-version=1.0"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 1450,
            "text": "{\"token_type\":\"Bearer\",\"expires_in\":\"3599\",\"ext_expires_in\":\"3599\",\"expires_on\":\"1604010356\",\"not_before\":\"1604006456\",\"resource\":\"https://management.azure.com/\",\"access_token\":\"[REDACTED]\"}"
          },
            {
              "httpOnly": true,
              "name": "x-ms-gateway-slice",
              "path": "/",
              "secure": true,
              "value": "[REDACTED]"
            },
            {
              "httpOnly": true,
              "name": "stsservicecookie",
              "path": "/",
              "secure": true,
              "value": "[REDACTED]"
            }
          ],
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 1010,
      },
      {
        "_id": "5b659db4e0ea98de8227750eb75526ee",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "_fromType": "array",
              "name": "authorization",
              "value": "[REDACTED]"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "api-version",
              "value": "2016-06-01"
            }
          ],
          "url": "https://management.azure.com/subscriptions?api-version=2016-06-01"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 336,
            "text": "{\"value\":[{\"id\":\"/subscriptions/40474ebe-55a2-4071-8fa8-b610acdd8e56\",\"authorizationSource\":\"RoleBased\",\"subscriptionId\":\"40474ebe-55a2-4071-8fa8-b610acdd8e56\",\"displayName\":\"Azure subscription 1\",\"state\":\"Enabled\",\"subscriptionPolicies\":{\"locationPlacementId\":\"Public_2014-09-01\",\"quotaId\":\"PayAsYouGo_2014-09-01\",\"spendingLimit\":\"Off\"}}]}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "x-ms-ratelimit-remaining-tenant-reads",
              "value": "11999"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 290,
      },
      {
        "_id": "7191f362f073f907b2f06ebe092a2b50",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "_fromType": "array",
              "name": "authorization",
              "value": "[REDACTED]"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "api-version",
              "value": "2019-09-01"
            }
          ],
          "url": "https://management.azure.com/subscriptions/40474ebe-55a2-4071-8fa8-b610acdd8e56/providers/Microsoft.Authorization/policyAssignments?api-version=2019-09-01"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 2109,
            "text": "{\"value\":[{\"sku\":{\"name\":\"A0\",\"tier\":\"Free\"},\"properties\":{\"displayName\":\"ASC Default (subscription: 40474ebe-55a2-4071-8fa8-b610acdd8e56)\",\"policyDefinitionId\":\"/providers/Microsoft.Authorization/policySetDefinitions/1f3afdf9-d0c9-4c3d-847f-89da613e70a8\",\"scope\":\"/subscriptions/40474ebe-55a2-4071-8fa8-b610acdd8e56\",\"notScopes\":[],\"parameters\":{\"systemUpdatesMonitoringEffect\":{\"value\":\"AuditIfNotExists\"}},\"description\":\"This is the default set of policies monitored by Azure Security Center. It was automatically assigned as part of onboarding to Security Center. The default assignment contains only audit policies. For more information please visit https://aka.ms/ascpolicies\",\"metadata\":{\"assignedBy\":\"Security Center\",\"createdBy\":\"488baaae-0786-48e5-aa3d-6c7c773d9557\",\"createdOn\":\"2020-09-24T16:32:06.2258988Z\",\"updatedBy\":\"3b3dbbda-9a3c-4b0b-b2f4-60cfeaa74233\",\"updatedOn\":\"2020-10-29T17:42:36.1625526Z\",\"parameterScopes\":{}},\"enforcementMode\":\"Default\"},\"id\":\"/subscriptions/40474ebe-55a2-4071-8fa8-b610acdd8e56/providers/Microsoft.Authorization/policyAssignments/SecurityCenterBuiltIn\",\"type\":\"Microsoft.Authorization/policyAssignments\",\"name\":\"SecurityCenterBuiltIn\"},{\"sku\":{\"name\":\"A0\",\"tier\":\"Free\"},\"properties\":{\"displayName\":\"My Example Policy Assignment\",\"policyDefinitionId\":\"/subscriptions/40474ebe-55a2-4071-8fa8-b610acdd8e56/providers/Microsoft.Authorization/policyDefinitions/j1dev-policy-definition\",\"scope\":\"/subscriptions/40474ebe-55a2-4071-8fa8-b610acdd8e56/resourceGroups/j1dev-policy-resource-group\",\"parameters\":{\"allowedLocations\":{\"value\":[\"East US\",\"West US\"]}},\"description\":\"j1dev Policy Assignment created via Test\",\"metadata\":{\"category\":\"General\",\"createdBy\":\"3d866b00-3c67-46d5-b7ba-0df4f781b471\",\"createdOn\":\"2020-10-29T16:35:03.5371306Z\",\"updatedBy\":null,\"updatedOn\":null},\"enforcementMode\":\"Default\"},\"id\":\"/subscriptions/40474ebe-55a2-4071-8fa8-b610acdd8e56/resourceGroups/j1dev-policy-resource-group/providers/Microsoft.Authorization/policyAssignments/j1dev-policy-assignment\",\"type\":\"Microsoft.Authorization/policyAssignments\",\"name\":\"j1dev-policy-assignment\"}]}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "x-ms-ratelimit-remaining-subscription-reads",
              "value": "11999"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 199,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
