{
  "log": {
    "_recordingName": "build-conditional-access-has-conditional-access-template-relationships",
    "creator": {
      "comment": "persister:JupiterOneIntegationFSPersister",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "419f8a68424a58ccfbfa7e96d080076d",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/x-www-form-urlencoded"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/x-www-form-urlencoded",
            "params": [],
            "text": "[REDACTED]"
          },
          "queryString": [],
          "url": "https://login.microsoftonline.com/19ae0f99-6fc6-444b-bd54-97504efc66ad/oauth2/v2.0/token"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 1776,
            "text": "{\"token_type\":\"Bearer\",\"expires_in\":3599,\"ext_expires_in\":3599,\"access_token\":\"[REDACTED]\"}"
          },
            {
              "httpOnly": true,
              "name": "x-ms-gateway-slice",
              "path": "/",
              "sameSite": "none",
              "secure": true,
              "value": "[REDACTED]"
            },
            {
              "httpOnly": true,
              "name": "stsservicecookie",
              "path": "/",
              "sameSite": "none",
              "secure": true,
              "value": "[REDACTED]"
            }
          ],
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "x-ms-srs",
              "value": "1.P"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 1081,
      },
      {
        "_id": "dcd3cc08c1b097bb587906bd8f40b8b6",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "authorization",
              "value": "[REDACTED]"
            },
            {
              "_fromType": "array",
              "name": "sdkversion",
              "value": "graph-js/2.0.0 (featureUsage=7)"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://graph.microsoft.com/v1.0/identity/conditionalAccess/templates"
        },
        "response": {
          "content": {
            "mimeType": "application/json;odata.metadata=minimal;odata.streaming=true;IEEE754Compatible=false;charset=utf-8",
            "size": 5766,
            "text": "{\"@odata.context\":\"https://graph.microsoft.com/v1.0/$metadata#identity/conditionalAccess/templates\",\"@odata.count\":17,\"value\":[{\"name\":\"Require multifactor authentication for admins\",\"description\":\"Require multifactor authentication for privileged administrative accounts to reduce risk of compromise. This policy will target the same roles as security defaults.\",\"id\":\"c7503427-338e-4c5e-902d-abe252abfb43\",\"scenarios\":\"secureFoundation,zeroTrust,protectAdmins\",\"details\":{\"sessionControls\":null,\"conditions\":{\"userRiskLevels\":[],\"signInRiskLevels\":[],\"clientAppTypes\":[\"all\"],\"servicePrincipalRiskLevels\":[],\"insiderRiskLevels\":null,\"platforms\":null,\"locations\":null,\"devices\":null,\"applications\":{\"includeApplications\":[\"All\"],\"excludeApplications\":[],\"includeUserActions\":[],\"includeAuthenticationContextClassReferences\":[],\"applicationFilter\":null},\"users\":{\"includeUsers\":[],\"excludeUsers\":[],\"includeGroups\":[],\"excludeGroups\":[],\"includeRoles\":[\"62e90394-69f5-4237-9190-012177145e10\",\"194ae4cb-b126-40b2-bd5b-6091b380977d\",\"f28a1f50-f6e7-4571-818b-6a12f2af6b6c\",\"29232cdf-9323-42fd-ade2-1d097af3e4de\",\"b1be1c3e-b65d-4f19-8427-f6fa0d97feb9\",\"729827e3-9c14-49f7-bb1b-9608f156bbb8\",\"b0f54661-2d74-4c50-afa3-1ec803f12efe\",\"fe930be7-5e62-47db-91af-98c3a49a38b1\",\"c4e39bd9-1100-46d3-8c65-fb160da0071f\",\"9b895d92-2cd3-44c7-9d02-a6ac2d5ea5c3\",\"158c047a-c907-4556-b7ef-446551a6b5f7\",\"966707d0-3269-4727-9be2-8c3a10f19b9d\",\"7be44c8a-adaf-4e2a-84d6-ab2649e08a13\",\"e8611ab8-c189-46e8-94e1-60213ab1f814\"],\"excludeRoles\":[],\"includeGuestsOrExternalUsers\":null,\"excludeGuestsOrExternalUsers\":null},\"clientApplications\":{\"includeServicePrincipals\":[],\"excludeServicePrincipals\":[\"Current administrator will be excluded\"],\"servicePrincipalFilter\":null}},\"grantControls\":{\"operator\":\"OR\",\"builtInControls\":[\"mfa\"],\"customAuthenticationFactors\":[],\"termsOfUse\":[],\"authenticationStrength@odata.context\":\"https://graph.microsoft.com/v1.0/$metadata#identity/conditionalAccess/templates('c7503427-338e-4c5e-902d-abe252abfb43')/details/grantControls/authenticationStrength/$entity\",\"authenticationStrength\":null}}},{\"name\":\"Securing security info registration\",\"description\":\"Secure when and how users register for Azure AD multifactor authentication and self-service password reset.\",\"id\":\"b8bda7f8-6584-4446-bce9-d871480e53fa\",\"scenarios\":\"secureFoundation,zeroTrust,remoteWork\",\"details\":{\"sessionControls\":null,\"conditions\":{\"userRiskLevels\":[],\"signInRiskLevels\":[],\"clientAppTypes\":[\"all\"],\"servicePrincipalRiskLevels\":[],\"insiderRiskLevels\":null,\"platforms\":null,\"devices\":null,\"applications\":{\"includeApplications\":[],\"excludeApplications\":[],\"includeUserActions\":[\"urn:user:registersecurityinfo\"],\"includeAuthenticationContextClassReferences\":[],\"applicationFilter\":null},\"users\":{\"includeUsers\":[\"All\"],\"excludeUsers\":[\"GuestsOrExternalUsers\"],\"includeGroups\":[],\"excludeGroups\":[],\"includeRoles\":[],\"excludeRoles\":[\"62e90394-69f5-4237-9190-012177145e10\"],\"includeGuestsOrExternalUsers\":null,\"excludeGuestsOrExternalUsers\":null},\"locations\":{\"includeLocations\":[\"All\"],\"excludeLocations\":[\"AllTrusted\"]},\"clientApplications\":{\"includeServicePrincipals\":[],\"excludeServicePrincipals\":[\"Current administrator will be excluded\"],\"servicePrincipalFilter\":null}},\"grantControls\":{\"operator\":\"OR\",\"builtInControls\":[\"mfa\"],\"customAuthenticationFactors\":[],\"termsOfUse\":[],\"authenticationStrength@odata.context\":\"https://graph.microsoft.com/v1.0/$metadata#identity/conditionalAccess/templates('b8bda7f8-6584-4446-bce9-d871480e53fa')/details/grantControls/authenticat[...]
