{
  "log": {
    "_recordingName": "matchRequestsBy-graph",
    "creator": {
      "comment": "persister:JupiterOneIntegationFSPersister",
      "name": "Polly.JS",
      "version": "4.3.0"
    },
    "entries": [
      {
        "_id": "419f8a68424a58ccfbfa7e96d080076d",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/x-www-form-urlencoded"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/x-www-form-urlencoded",
            "params": [],
            "text": "[REDACTED]"
          },
          "queryString": [],
          "url": "https://login.microsoftonline.com/992d7bbe-b367-459c-a10f-cf3fd16103ab/oauth2/v2.0/token"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 1591,
            "text": "{\"token_type\":\"Bearer\",\"expires_in\":3599,\"ext_expires_in\":3599,\"access_token\":\"[REDACTED]\"}"
          },
            {
              "httpOnly": true,
              "name": "x-ms-gateway-slice",
              "path": "/",
              "sameSite": "none",
              "secure": true,
              "value": "[REDACTED]"
            },
            {
              "httpOnly": true,
              "name": "stsservicecookie",
              "path": "/",
              "sameSite": "none",
              "secure": true,
              "value": "[REDACTED]"
            }
          ],
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 298,
      },
      {
        "_id": "eb5dfa40d74d736e7acdeb86bc348781",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "authorization",
              "value": "[REDACTED]"
            },
            {
              "_fromType": "array",
              "name": "sdkversion",
              "value": "graph-js/2.0.0 (featureUsage=7)"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://graph.microsoft.com/v1.0/users"
        },
        "response": {
          "content": {
            "mimeType": "application/json;odata.metadata=minimal;odata.streaming=true;IEEE754Compatible=false;charset=utf-8",
            "size": 621,
            "text": "{\"@odata.context\":\"https://graph.microsoft.com/v1.0/$metadata#users\",\"value\":[{\"businessPhones\":[],\"displayName\":\"Austin Kelleher\",\"givenName\":null,\"jobTitle\":null,\"mail\":null,\"mobilePhone\":null,\"officeLocation\":null,\"preferredLanguage\":null,\"surname\":null,\"userPrincipalName\":\"austin.kelleher@ndowmongmail.onmicrosoft.com\",\"id\":\"f4cb0699-41f7-4c69-a1f2-f497d3f11ced\"},{\"businessPhones\":[],\"displayName\":\"Austin Kelleher\",\"givenName\":null,\"jobTitle\":null,\"mail\":\"austin.kellher@jupiterone.com\",\"mobilePhone\":null,\"officeLocation\":null,\"preferredLanguage\":null,\"surname\":null,\"userPrincipalName\":\"austin.kellher_jupiterone.com#EXT#@ndowmongmail.onmicrosoft.com\",\"id\":\"d87d02c5-e07e-4093-a274-0232864312fe\"},{\"businessPhones\":[],\"displayName\":\"Keionne Derousselle\",\"givenName\":null,\"jobTitle\":null,\"mail\":\"kanddventurepartners@gmail.com\",\"mobilePhone\":null,\"officeLocation\":null,\"preferredLanguage\":null,\"surname\":null,\"userPrincipalName\":\"kanddventurepartners_gmail.com#EXT#@ndowmongmail.onmicrosoft.com\",\"id\":\"621154ca-e35e-4ac8-80a1-f02f495ce68a\"},{\"businessPhones\":[],\"displayName\":\"Nick Dowmon\",\"givenName\":\"Nick\",\"jobTitle\":null,\"mail\":null,\"mobilePhone\":null,\"officeLocation\":null,\"preferredLanguage\":\"en\",\"surname\":\"Dowmon\",\"userPrincipalName\":\"ndowmon_gmail.com#EXT#@ndowmongmail.onmicrosoft.com\",\"id\":\"b6e7f627-8731-47bd-be0e-477d1cbc6e17\"}]}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json;odata.metadata=minimal;odata.streaming=true;IEEE754Compatible=false;charset=utf-8"
            },
            {
              "name": "x-ms-ags-diagnostic",
              "value": "{\"ServerInfo\":{\"DataCenter\":\"North Central US\",\"Slice\":\"SliceC\",\"Ring\":\"3\",\"ScaleUnit\":\"002\",\"RoleInstance\":\"AGSFE_IN_30\"}}"
            },
            {
              "name": "x-ms-resource-unit",
              "value": "2"
            },
            {
              "name": "odata-version",
              "value": "4.0"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 222,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
