{
  "log": {
    "_recordingName": "createGraphClient",
    "creator": {
      "comment": "persister:SafeHeadersFSPersister",
      "name": "Polly.JS",
      "version": "2.6.2"
    },
    "entries": [
      {
        "_id": "2531614bff07ad1a156094ab128f650a",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/x-www-form-urlencoded"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/x-www-form-urlencoded",
            "params": [],
            "text": "[REDACTED]"
          },
          "queryString": [],
          "url": "https://login.microsoftonline.com/a76fc728-0cba-45f0-a9eb-d45207e14513/oauth2/v2.0/token"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 1436,
            "text": "{\"token_type\":\"Bearer\",\"expires_in\":3599,\"ext_expires_in\":3599,\"access_token\":\"[REDACTED]\"}"
          },
            {
              "httpOnly": true,
              "name": "x-ms-gateway-slice",
              "path": "/",
              "secure": true,
              "value": "[REDACTED]"
            },
            {
              "httpOnly": true,
              "name": "stsservicecookie",
              "path": "/",
              "secure": true,
              "value": "[REDACTED]"
            }
          ],
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 289,
      },
      {
        "_id": "0d4d60ea9e848636a220ced3447e81fb",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "authorization",
              "value": "Bearer [REDACTED]"
            },
            {
              "_fromType": "array",
              "name": "sdkversion",
              "value": "graph-js/2.0.0 (featureUsage=7)"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://graph.microsoft.com/v1.0/"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 1375,
            "text": "{\"@odata.context\":\"https://graph.microsoft.com/v1.0/$metadata\",\"value\":[{\"name\":\"invitations\",\"kind\":\"EntitySet\",\"url\":\"invitations\"},{\"name\":\"users\",\"kind\":\"EntitySet\",\"url\":\"users\"},{\"name\":\"identityProviders\",\"kind\":\"EntitySet\",\"url\":\"identityProviders\"},{\"name\":\"directoryObjects\",\"kind\":\"EntitySet\",\"url\":\"directoryObjects\"},{\"name\":\"devices\",\"kind\":\"EntitySet\",\"url\":\"devices\"},{\"name\":\"domains\",\"kind\":\"EntitySet\",\"url\":\"domains\"},{\"name\":\"domainDnsRecords\",\"kind\":\"EntitySet\",\"url\":\"domainDnsRecords\"},{\"name\":\"g[...]
