{
  "log": {
    "_recordingName": "rm-access-package-resource-application",
    "creator": {
      "comment": "persister:JupiterOneIntegationFSPersister",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "419f8a68424a58ccfbfa7e96d080076d",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/x-www-form-urlencoded"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/x-www-form-urlencoded",
            "params": [],
            "text": "[REDACTED]"
          },
          "queryString": [],
          "url": "https://login.microsoftonline.com/fc65a925-383b-4adf-8848-4c1eec3b3a9e/oauth2/v2.0/token"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 1831,
            "text": "{\"token_type\":\"Bearer\",\"expires_in\":3599,\"ext_expires_in\":3599,\"access_token\":\"[REDACTED]\"}"
          },
            {
              "httpOnly": true,
              "name": "x-ms-gateway-slice",
              "path": "/",
              "sameSite": "none",
              "secure": true,
              "value": "[REDACTED]"
            },
            {
              "httpOnly": true,
              "name": "stsservicecookie",
              "path": "/",
              "sameSite": "none",
              "secure": true,
              "value": "[REDACTED]"
            }
          ],
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "x-ms-srs",
              "value": "1.P"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 478,
      },
      {
        "_id": "c2a65dfa3563284ccace4c3ad495e907",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "authorization",
              "value": "[REDACTED]"
            },
            {
              "_fromType": "array",
              "name": "sdkversion",
              "value": "graph-js/2.2.1 (featureUsage=7)"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://graph.microsoft.com/v1.0/identityGovernance/entitlementManagement/catalogs"
        },
        "response": {
          "content": {
            "mimeType": "application/json;odata.metadata=minimal;odata.streaming=true;IEEE754Compatible=false;charset=utf-8",
            "size": 642,
            "text": "{\"@odata.context\":\"https://graph.microsoft.com/v1.0/$metadata#identityGovernance/entitlementManagement/catalogs\",\"value\":[{\"id\":\"c62699af-a4df-4a8c-a57b-579c9c1dc524\",\"displayName\":\"sarthak-catelog\",\"description\":\"Sarthak Catelog for development\",\"catalogType\":\"userManaged\",\"state\":\"published\",\"isExternallyVisible\":true,\"createdDateTime\":\"2024-05-10T05:02:30.513Z\",\"modifiedDateTime\":\"2024-05-10T05:02:30.513Z\"},{\"id\":\"945bddd3-9c79-4400-bd0b-09b6c43938f2\",\"displayName\":\"suraj-metron-catalog\",\"description\":\"Test Catalog created by Suraj\",\"catalogType\":\"userManaged\",\"state\":\"published\",\"isExternallyVisible\":true,\"createdDateTime\":\"2024-04-12T10:42:45.07Z\",\"modifiedDateTime\":\"2024-04-12T10:42:45.07Z\"},{\"id\":\"b34be519-db66-4c1c-8d65-bad872330a3a\",\"displayName\":\"General\",\"description\":\"Built-in catalog.\",\"catalogType\":\"serviceDefault\",\"state\":\"published\",\"isExternallyVisible\":true,\"createdDateTime\":\"2024-04-10T18:06:05.577Z\",\"modifiedDateTime\":\"2024-04-10T18:06:05.577Z\"}]}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json;odata.metadata=minimal;odata.streaming=true;IEEE754Compatible=false;charset=utf-8"
            },
            {
              "name": "x-ms-ags-diagnostic",
              "value": "{\"ServerInfo\":{\"DataCenter\":\"Central India\",\"Slice\":\"E\",\"Ring\":\"3\",\"ScaleUnit\":\"000\",\"RoleInstance\":\"PN1PEPF00006F8D\"}}"
            },
            {
              "name": "odata-version",
              "value": "4.0"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 871,
      },
      {
        "_id": "bc0dee06e2ddd81dc6c49484e3805be1",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "authorization",
              "value": "[REDACTED]"
            },
            {
 [...]
