{
  "log": {
    "_recordingName": "fetchIdentitySecurityDefaultsEnforcementPolicy-with-permission",
    "creator": {
      "comment": "persister:JupiterOneIntegationFSPersister",
      "name": "Polly.JS",
      "version": "4.3.0"
    },
    "entries": [
      {
        "_id": "419f8a68424a58ccfbfa7e96d080076d",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/x-www-form-urlencoded"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/x-www-form-urlencoded",
            "params": [],
            "text": "[REDACTED]"
          },
          "queryString": [],
          "url": "https://login.microsoftonline.com/992d7bbe-b367-459c-a10f-cf3fd16103ab/oauth2/v2.0/token"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 1615,
            "text": "{\"token_type\":\"Bearer\",\"expires_in\":3599,\"ext_expires_in\":3599,\"access_token\":\"[REDACTED]\"}"
          },
            {
              "httpOnly": true,
              "name": "x-ms-gateway-slice",
              "path": "/",
              "sameSite": "none",
              "secure": true,
              "value": "[REDACTED]"
            },
            {
              "httpOnly": true,
              "name": "stsservicecookie",
              "path": "/",
              "sameSite": "none",
              "secure": true,
              "value": "[REDACTED]"
            }
          ],
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 295,
      },
      {
        "_id": "21b88abd562de50ac5fa61166c4f8fc1",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "authorization",
              "value": "[REDACTED]"
            },
            {
              "_fromType": "array",
              "name": "sdkversion",
              "value": "graph-js/2.0.0 (featureUsage=7)"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://graph.microsoft.com/v1.0/policies/identitySecurityDefaultsEnforcementPolicy"
        },
        "response": {
          "content": {
            "mimeType": "application/json;odata.metadata=minimal;odata.streaming=true;IEEE754Compatible=false;charset=utf-8",
            "size": 646,
            "text": "{\"@odata.context\":\"https://graph.microsoft.com/v1.0/$metadata#policies/identitySecurityDefaultsEnforcementPolicy/$entity\",\"id\":\"00000000-0000-0000-0000-000000000005\",\"displayName\":\"Security Defaults\",\"description\":\"Security defaults is a set of basic identity security mechanisms recommended by Microsoft. When enabled, these recommendations will be automatically enforced in your organization. Administrators and users will be better protected from common identity related attacks.\",\"isEnabled\":true}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json;odata.metadata=minimal;odata.streaming=true;IEEE754Compatible=false;charset=utf-8"
            },
            {
              "name": "retry-after",
              "value": "1209600"
            },
            {
              "name": "x-ms-ags-diagnostic",
              "value": "{\"ServerInfo\":{\"DataCenter\":\"North Central US\",\"Slice\":\"E\",\"Ring\":\"3\",\"ScaleUnit\":\"002\",\"RoleInstance\":\"CH01EPF00004E59\"}}"
            },
            {
              "name": "odata-version",
              "value": "4.0"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 527,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
