{
  "log": {
    "_recordingName": "iterateUsers",
    "creator": {
      "comment": "persister:JupiterOneIntegationFSPersister",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "419f8a68424a58ccfbfa7e96d080076d",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/x-www-form-urlencoded"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/x-www-form-urlencoded",
            "params": [],
            "text": "[REDACTED]"
          },
          "queryString": [],
          "url": "https://login.microsoftonline.com/19ae0f99-6fc6-444b-bd54-97504efc66ad/oauth2/v2.0/token"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 1692,
            "text": "{\"token_type\":\"Bearer\",\"expires_in\":3599,\"ext_expires_in\":3599,\"access_token\":\"[REDACTED]\"}"
          },
            {
              "httpOnly": true,
              "name": "x-ms-gateway-slice",
              "path": "/",
              "sameSite": "none",
              "secure": true,
              "value": "[REDACTED]"
            },
            {
              "httpOnly": true,
              "name": "stsservicecookie",
              "path": "/",
              "sameSite": "none",
              "secure": true,
              "value": "[REDACTED]"
            }
          ],
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 489,
      },
      {
        "_id": "68a77028f5a29f2d156580a914e580df",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "authorization",
              "value": "[REDACTED]"
            },
            {
              "_fromType": "array",
              "name": "sdkversion",
              "value": "graph-js/2.0.0 (featureUsage=7)"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "$select",
              "value": "businessPhones,displayName,givenName,jobTitle,mail,mobilePhone,officeLocation,preferredLanguage,surname,userPrincipalName,id,userType,accountEnabled"
            }
          ],
          "url": "https://graph.microsoft.com/v1.0/users?%24select=businessPhones%2CdisplayName%2CgivenName%2CjobTitle%2Cmail%2CmobilePhone%2CofficeLocation%2CpreferredLanguage%2Csurname%2CuserPrincipalName%2Cid%2CuserType%2CaccountEnabled"
        },
        "response": {
          "content": {
            "mimeType": "application/json;odata.metadata=minimal;odata.streaming=true;IEEE754Compatible=false;charset=utf-8",
            "size": 2734,
            "text": "{\"@odata.context\":\"https://graph.microsoft.com/v1.0/$metadata#users(businessPhones,displayName,givenName,jobTitle,mail,mobilePhone,officeLocation,preferredLanguage,surname,userPrincipalName,id,userType,accountEnabled)\",\"value\":[{\"businessPhones\":[],\"displayName\":\"Adam Williams\",\"givenName\":null,\"jobTitle\":null,\"mail\":\"adam.williams@jupiterone.com\",\"mobilePhone\":null,\"officeLocation\":null,\"preferredLanguage\":null,\"surname\":null,\"userPrincipalName\":\"adam.williams_jupiterone.com#EXT#@j1AzureIntegrationDev.onmicrosoft.com\",\"id\":\"bc6ef7fc-212e-4e35-a26c-a50460cfc266\",\"userType\":\"Guest\",\"accountEnabled\":true},{\"businessPhones\":[],\"displayName\":\"akash.ganapathi@jupiterone.com\",\"givenName\":null,\"jobTitle\":null,\"mail\":\"akash.ganapathi@jupiterone.com\",\"mobilePhone\":null,\"officeLocation\":null,\"preferredLanguage\":null,\"surname\":null,\"userPrincipalName\":\"akash.ganapathi_jupiterone.com#EXT#@j1AzureIntegrationDev.onmicrosoft.com\",\"id\":\"38d4b262-f887-4942-914a-aba6c524f49c\",\"userType\":\"Guest\",\"accountEnabled\":true},{\"businessPhones\":[],\"displayName\":\"Austin Kelleh[...]
