{
  "log": {
    "_recordingName": "authenticate invalid",
    "creator": {
      "comment": "persister:SafeHeadersFSPersister",
      "name": "Polly.JS",
      "version": "2.6.2"
    },
    "entries": [
      {
        "_id": "2531614bff07ad1a156094ab128f650a",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/x-www-form-urlencoded"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/x-www-form-urlencoded",
            "params": [],
            "text": "[REDACTED]"
          },
          "queryString": [],
          "url": "https://login.microsoftonline.com/a76fc728-0cba-45f0-a9eb-d45207e14513/oauth2/v2.0/token"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 471,
            "text": "{\"error\":\"invalid_client\",\"error_description\":\"AADSTS7000215: Invalid client secret is provided.\\r\\nTrace ID: 14932fbd-312e-4845-8481-730a441c3600\\r\\nCorrelation ID: 257ecc57-f5ee-4285-a43a-68698752730e\\r\\nTimestamp: 2019-09-18 21:25:17Z\",\"error_codes\":[7000215],\"timestamp\":\"2019-09-18 21:25:17Z\",\"trace_id\":\"14932fbd-312e-4845-8481-730a441c3600\",\"correlation_id\":\"257ecc57-f5ee-4285-a43a-68698752730e\",\"error_uri\":\"https://login.microsoftonline.com/error?code=7000215\"}"
          },
            {
              "httpOnly": true,
              "name": "x-ms-gateway-slice",
              "path": "/",
              "secure": true,
              "value": "[REDACTED]"
            },
            {
              "httpOnly": true,
              "name": "stsservicecookie",
              "path": "/",
              "secure": true,
              "value": "[REDACTED]"
            }
          ],
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            }
          ],
          "status": 401,
          "statusText": "Unauthorized"
        },
        "time": 241,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
