{
  "log": {
    "_recordingName": "matchRequestsBy-resource-manager-explicit-resource-id",
    "creator": {
      "comment": "persister:JupiterOneIntegationFSPersister",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "419f8a68424a58ccfbfa7e96d080076d",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/x-www-form-urlencoded;charset=utf-8"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/x-www-form-urlencoded;charset=utf-8",
            "params": [],
            "text": "[REDACTED]"
          },
          "queryString": [],
          "url": "https://login.microsoftonline.com/directory-id/oauth2/v2.0/token"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 1392,
            "text": "{\"token_type\":\"Bearer\",\"expires_in\":3599,\"ext_expires_in\":3599,\"access_token\":\"[REDACTED]\"}"
          },
            {
              "httpOnly": true,
              "name": "x-ms-gateway-slice",
              "path": "/",
              "sameSite": "none",
              "secure": true,
              "value": "[REDACTED]"
            },
            {
              "httpOnly": true,
              "name": "stsservicecookie",
              "path": "/",
              "sameSite": "none",
              "secure": true,
              "value": "[REDACTED]"
            }
          ],
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "x-ms-srs",
              "value": "1.P"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 493,
      },
      {
        "_id": "9e0d5d54a7748c5a868c8dbd10fe430c",
        "request": {
          "headers": [
            {
              "name": "authorization",
              "value": "[REDACTED]"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "$filter",
              "value": "resourceType eq 'Microsoft.KeyVault/vaults'"
            },
            {
              "name": "api-version",
              "value": "2015-11-01"
            }
          ],
          "url": "https://management.azure.com/subscriptions/subscription-id/resources?%24filter=resourceType%20eq%20%27Microsoft.KeyVault%2Fvaults%27&api-version=2015-11-01"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 443,
            "text": "{\"value\":[{\"id\":\"/subscriptions/subscription-id/resourceGroups/j1dev/providers/Microsoft.KeyVault/vaults/kv-4-purview\",\"name\":\"kv-4-purview\",\"type\":\"Microsoft.KeyVault/vaults\",\"location\":\"eastus\",\"tags\":{}},{\"id\":\"/subscriptions/subscription-id/resourceGroups/j1dev/providers/Microsoft.KeyVault/vaults/nd-j1dev-1\",\"name\":\"nd-j1dev-1\",\"type\":\"Microsoft.KeyVault/vaults\",\"location\":\"eastus\",\"tags\":{}}]}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 1915,
      },
      {
        "_id": "def50d76107cac9ffff89cc67ba54e3b",
        "request": {
          "headers": [
            {
              "name": "authorization",
              "value": "[REDACTED]"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "api-version",
              "value": "2023-07-01"
            }
          ],
          "url": "https://management.azure.com/subscriptions/subscription-id/resourceGroups/j1dev/providers/Microsoft.KeyVault/vaults/kv-4-purview?api-version=2023-07-01"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 925,
            "text": "{\"id\":\"/subscriptions/subscription-id/resourceGroups/j1dev/providers/Microsoft.KeyVault/vaults/kv-4-purview\",\"name\":\"kv-4-purview\",\"type\":\"Microsoft.KeyVault/vaults\",\"location\":\"eastus\",\"tags\":{},\"systemData\":{\"createdBy\":\"ronald.arias@j1AzureIntegrationDev.onmicrosoft.com\",\"createdByType\":\"User\",\"createdAt\":\"2024-03-01T15:32:52.138Z\",\"lastModifiedBy\":\"ronald.arias@j1AzureIntegrationDev.onmicrosoft.com\",\"lastModifiedByType\":\"User\",\"lastModifiedAt\":\"2024-03-01T15:32:52.138Z\"},\"properties\":{\"sku\":{\"family\":\"A\",\"name\":\"Standard\"},\"tenantId\":\"directory-id\",\"accessPolicies\":[],\"enabledForDeployment\":false,\"enabledForDiskEncryption\":false,\"enabledForTemplateDeployment\":false,\"enableSoftDelete\":true,\"softDeleteRetentionInDays\":90,\"enableRbacAuthorization\":true,\"vaultUri\":\"https://kv-4-purview.vault.azure.net/\",\"provisioningState\":\"Succeeded\",\"publicNetworkAccess\":\"Enabled\"}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "x-ms-ratelimit-remaining-subscription-reads",
              "value": "249"
            },
            {
              "name": "x-ms-ratelimit-remaining-subscription-global-reads",
              "value": "3749"
            }
          ],
          "status": 200,
          "statusText": "O[...]
