{
  "log": {
    "_recordingName": "iterateCredentialUserRegistrationDetails",
    "creator": {
      "comment": "persister:JupiterOneIntegationFSPersister",
      "name": "Polly.JS",
      "version": "4.3.0"
    },
    "entries": [
      {
        "_id": "419f8a68424a58ccfbfa7e96d080076d",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/x-www-form-urlencoded"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/x-www-form-urlencoded",
            "params": [],
            "text": "[REDACTED]"
          },
          "queryString": [],
          "url": "https://login.microsoftonline.com/39c627c0-808a-40b2-ba23-9bc42c4fe580/oauth2/v2.0/token"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 1852,
            "text": "{\"token_type\":\"Bearer\",\"expires_in\":3599,\"ext_expires_in\":3599,\"access_token\":\"[REDACTED]\"}"
          },
            {
              "httpOnly": true,
              "name": "x-ms-gateway-slice",
              "path": "/",
              "sameSite": "none",
              "secure": true,
              "value": "[REDACTED]"
            },
            {
              "httpOnly": true,
              "name": "stsservicecookie",
              "path": "/",
              "sameSite": "none",
              "secure": true,
              "value": "[REDACTED]"
            }
          ],
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 291,
      },
      {
        "_id": "9524bbc307d6550431bddb3b41b4a588",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "authorization",
              "value": "[REDACTED]"
            },
            {
              "_fromType": "array",
              "name": "sdkversion",
              "value": "graph-js/2.0.0 (featureUsage=7)"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://graph.microsoft.com/beta/reports/credentialUserRegistrationDetails"
        },
        "response": {
          "content": {
            "mimeType": "application/json;odata.metadata=minimal;odata.streaming=true;IEEE754Compatible=false;charset=utf-8",
            "size": 1284,
            "text": "{\"@odata.context\":\"https://graph.microsoft.com/beta/$metadata#reports/credentialUserRegistrationDetails\",\"value\":[{\"id\":\"15fd6e1d-1b7a-4cb2-b78a-a824943968f9\",\"userPrincipalName\":\"fakeuser1@escribir.io\",\"userDisplayName\":\"Fake User1\",\"isRegistered\":false,\"isEnabled\":false,\"isCapable\":false,\"isMfaRegistered\":false,\"authMethods\":[]},{\"id\":\"e4f84be4-c91a-43b3-a512-e3c0491b964b\",\"userPrincipalName\":\"fakeuser2@escribir.io\",\"userDisplayName\":\"Fake User2\",\"isRegistered\":false,\"isEnabled\":false,\"isCapable\":false,\"isMfaRegistered\":false,\"authMethods\":[]},{\"id\":\"47ce6c7c-46aa-4ce6-ac7f-d435c2b7658e\",\"userPrincipalName\":\"fakeuser3@escribir.io\",\"userDisplayName\":\"Fake User3\",\"isRegistered\":false,\"isEnabled\":false,\"isCapable\":false,\"isMfaRegistered\":false,\"authMethods\":[]},{\"id\":\"42a0[...]
