{
  "log": {
    "_recordingName": "rm-compute-shared-image-version-source-relationships",
    "creator": {
      "comment": "persister:JupiterOneIntegationFSPersister",
      "name": "Polly.JS",
      "version": "4.3.0"
    },
    "entries": [
      {
        "_id": "4eab979841c1f2185e48b484c23ec3e2",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/x-www-form-urlencoded"
            },
            {
              "name": "return-client-request-id",
              "value": "true"
            },
            {
              "name": "x-client-sku",
              "value": "Node"
            },
            {
              "name": "x-client-ver",
              "value": "0.1.28"
            },
            {
              "name": "x-client-os",
              "value": "linux"
            },
            {
              "name": "x-client-cpu",
              "value": "x64"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/x-www-form-urlencoded",
            "params": [],
            "text": "[REDACTED]"
          },
          "queryString": [
            {
              "name": "api-version",
              "value": "1.0"
            }
          ],
          "url": "https://login.microsoftonline.com/19ae0f99-6fc6-444b-bd54-97504efc66ad/oauth2/token?api-version=1.0"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 1468,
            "text": "{\"token_type\":\"Bearer\",\"expires_in\":\"3599\",\"ext_expires_in\":\"3599\",\"expires_on\":\"1640189304\",\"not_before\":\"1640185404\",\"resource\":\"https://management.azure.com/\",\"access_token\":\"[REDACTED]\"}"
          },
            {
              "httpOnly": true,
              "name": "x-ms-gateway-slice",
              "path": "/",
              "secure": true,
              "value": "[REDACTED]"
            },
            {
              "httpOnly": true,
              "name": "stsservicecookie",
              "path": "/",
              "secure": true,
              "value": "[REDACTED]"
            }
          ],
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 718,
      },
      {
        "_id": "5b659db4e0ea98de8227750eb75526ee",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "_fromType": "array",
              "name": "authorization",
              "value": "[REDACTED]"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "api-version",
              "value": "2016-06-01"
            }
          ],
          "url": "https://management.azure.com/subscriptions?api-version=2016-06-01"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 349,
            "text": "{\"value\":[{\"id\":\"/subscriptions/193f89dc-6225-4a80-bacb-96b32fbf6dd0\",\"authorizationSource\":\"RoleBased\",\"subscriptionId\":\"193f89dc-6225-4a80-bacb-96b32fbf6dd0\",\"displayName\":\"jupiterone-integration-dev\",\"state\":\"Enabled\",\"subscriptionPolicies\":{\"locationPlacementId\":\"Public_2014-09-01\",\"quotaId\":\"PayAsYouGo_2014-09-01\",\"spendingLimit\":\"Off\"}}]}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "x-ms-ratelimit-remaining-tenant-reads",
              "value": "11999"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 798,
      },
      {
        "_id": "7b3a69c31165d1adfd37a7c4c2d588b7",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "_fromType": "array",
              "name": "authorization",
              "value": "[REDACTED]"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "api-version",
              "value": "2019-12-01"
            }
          ],
          "url": "https://management.azure.com/subscriptions/193f89dc-6225-4a80-bacb-96b32fbf6dd0/providers/Microsoft.Compute/galleries?api-version=2019-12-01"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 419,
            "text": "{\"value\":[{\"name\":\"VM_shared_gallery\",\"id\":\"/subscriptions/193f89dc-6225-4a80-bacb-96b32fbf6dd0/resourceGroups/STEFAN_VMS/providers/Microsoft.Compute/galleries/VM_shared_gallery\",\"type\":\"Microsoft.Compute/galleries\",\"location\":\"eastus\",\"tags\":{},\"properties\":{\"identifier\":{\"uniqueName\":\"193f89dc-6225-4a80-bacb-96b32fbf6dd0-VM_SHARED_GALLERY\"},\"provisioningState\":\"Succeeded\"}},{\"name\":\"TestGallery\",\"id\":\"/subscriptions/193f89dc-6225-4a80-bacb-96b32fbf6dd0/resourceGroups/STEFAN_VMS/providers/Microsoft.Compute/galleries/TestGallery\",\"type\":\"Microsoft.Compute/galleries\",\"location\":\"northeurope\",\"tags\":{},\"properties\":{\"identifier\":{\"uniqueName\":\"193f89dc-6225-4a80-bacb-96b32fbf6dd0-TESTGALLERY\"},\"provisioningState\":\"Succeeded\"}}]}"
          },
          "headers": [
            {
              "name": "content-type",
       [...]
