{
  "log": {
    "_recordingName": "rm-sql-server-diagnostic-settings",
    "creator": {
      "comment": "persister:JupiterOneIntegationFSPersister",
      "name": "Polly.JS",
      "version": "4.3.0"
    },
    "entries": [
      {
        "_id": "4eab979841c1f2185e48b484c23ec3e2",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/x-www-form-urlencoded"
            },
            {
              "name": "return-client-request-id",
              "value": "true"
            },
            {
              "name": "x-client-sku",
              "value": "Node"
            },
            {
              "name": "x-client-ver",
              "value": "0.1.28"
            },
            {
              "name": "x-client-os",
              "value": "linux"
            },
            {
              "name": "x-client-cpu",
              "value": "x64"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/x-www-form-urlencoded",
            "params": [],
            "text": "[REDACTED]"
          },
          "queryString": [
            {
              "name": "api-version",
              "value": "1.0"
            }
          ],
          "url": "https://login.microsoftonline.com/992d7bbe-b367-459c-a10f-cf3fd16103ab/oauth2/token?api-version=1.0"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 1450,
            "text": "{\"token_type\":\"Bearer\",\"expires_in\":\"3599\",\"ext_expires_in\":\"3599\",\"expires_on\":\"1616714015\",\"not_before\":\"1616710115\",\"resource\":\"https://management.azure.com/\",\"access_token\":\"[REDACTED]\"}"
          },
            {
              "httpOnly": true,
              "name": "x-ms-gateway-slice",
              "path": "/",
              "secure": true,
              "value": "[REDACTED]"
            },
            {
              "httpOnly": true,
              "name": "stsservicecookie",
              "path": "/",
              "secure": true,
              "value": "[REDACTED]"
            }
          ],
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 253,
      },
      {
        "_id": "5b659db4e0ea98de8227750eb75526ee",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "_fromType": "array",
              "name": "authorization",
              "value": "[REDACTED]"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "api-version",
              "value": "2016-06-01"
            }
          ],
          "url": "https://management.azure.com/subscriptions?api-version=2016-06-01"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 358,
            "text": "{\"value\":[{\"id\":\"/subscriptions/d3803fd6-2ba4-4286-80aa-f3d613ad59a7\",\"authorizationSource\":\"RoleBased\",\"subscriptionId\":\"d3803fd6-2ba4-4286-80aa-f3d613ad59a7\",\"displayName\":\"nick-dowmon-gmail-graph-azure-subscription\",\"state\":\"Enabled\",\"subscriptionPolicies\":{\"locationPlacementId\":\"Public_2014-09-01\",\"quotaId\":\"PayAsYouGo_2014-09-01\",\"spendingLimit\":\"Off\"}}]}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "x-ms-ratelimit-remaining-tenant-reads",
              "value": "11996"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 393,
      },
      {
        "_id": "ca6b8340b562a1850c636079a0f3af33",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "_fromType": "array",
              "name": "authorization",
              "value": "[REDACTED]"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "api-version",
              "value": "2015-05-01-preview"
            }
          ],
          "url": "https://management.azure.com/subscriptions/d3803fd6-2ba4-4286-80aa-f3d613ad59a7/providers/Microsoft.Sql/servers?api-version=2015-05-01-preview"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 827,
            "text": "{\"value\":[{\"kind\":\"v12.0\",\"properties\":{\"administratorLogin\":\"twFH1oMpb0CCC\",\"version\":\"12.0\",\"state\":\"Ready\",\"fullyQualifiedDomainName\":\"j1dev-sqlserver.database.windows.net\"},\"location\":\"eastus\",\"tags\":{\"environment\":\"j1dev\"},\"id\":\"/subscriptions/d3803fd6-2ba4-4286-80aa-f3d613ad59a7/resourceGroups/j1dev/providers/Microsoft.Sql/servers/j1dev-sqlserver\",\"name\":\"j1dev-sqlserver\",\"type\":\"Microsoft.Sql/servers\"}]}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "x-ms-ratelimit-remaining-subscription-reads",
              "value": "11995"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 292,
      },
      {
        "_id": "ce4b7534a141192fe669a20d42412323",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "_fromType": "array",
              "name": "authorization",
              "value": "[REDACTED]"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "api-version",
              "value": "2017-03-01-preview"
            }
          ],
          "url": "https://management.azure.com/subscriptions/d3803fd6-2ba4-4286-80aa-f3d613ad59a7/resourceGroups/j1dev/providers/Microsoft.Sql/servers/j1dev-sqlserver/auditingSettings/default?api-version=2017-03-01-preview"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 841,
            "text": "{\"properties\":{\"retentionDays\":0,\"auditActionsAndGroups\":[],\"isStorageSecondaryKeyInUse\":false,\"isAzureMonitorTargetEnabled\":true,\"state\":\"Disabled\",\"storageEndpoint\":\"\",\"storageAccountSubscriptionId\":\"00000000-0000-0000-0000-000000000000\"},\"id\":\"/subscriptions/d3803fd6-2ba4-4286-80aa-f3d613ad59a7/resourceGroups/j1dev/providers/Microsoft.Sql/servers/j1dev-sqlserver/auditingSettings/Default\",\"name\":\"Default\",\"type\":\"Microsoft.Sql/servers/auditingSettings\"}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "x-ms-ratelimit-remaining-subs[...]
