{
  "log": {
    "_recordingName": "rm-access-package-catalog",
    "creator": {
      "comment": "persister:JupiterOneIntegationFSPersister",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "419f8a68424a58ccfbfa7e96d080076d",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/x-www-form-urlencoded"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/x-www-form-urlencoded",
            "params": [],
            "text": "[REDACTED]"
          },
          "queryString": [],
          "url": "https://login.microsoftonline.com/fc65a925-383b-4adf-8848-4c1eec3b3a9e/oauth2/v2.0/token"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 1831,
            "text": "{\"token_type\":\"Bearer\",\"expires_in\":3599,\"ext_expires_in\":3599,\"access_token\":\"[REDACTED]\"}"
          },
            {
              "httpOnly": true,
              "name": "x-ms-gateway-slice",
              "path": "/",
              "sameSite": "none",
              "secure": true,
              "value": "[REDACTED]"
            },
            {
              "httpOnly": true,
              "name": "stsservicecookie",
              "path": "/",
              "sameSite": "none",
              "secure": true,
              "value": "[REDACTED]"
            }
          ],
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "x-ms-srs",
              "value": "1.P"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 422,
      },
      {
        "_id": "bc0dee06e2ddd81dc6c49484e3805be1",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "authorization",
              "value": "[REDACTED]"
            },
            {
              "_fromType": "array",
              "name": "sdkversion",
              "value": "graph-js/2.0.0 (featureUsage=7)"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "$expand",
              "value": "scopes,roles"
            }
          ],
          "url": "https://graph.microsoft.com/v1.0/identityGovernance/entitlementManagement/catalogs/c62699af-a4df-4a8c-a57b-579c9c1dc524/resources?%24expand=scopes%2Croles"
        },
        "response": {
          "content": {
            "mimeType": "application/json;odata.metadata=minimal;odata.streaming=true;IEEE754Compatible=false;charset=utf-8",
            "size": 1030,
            "text": "{\"@odata.context\":\"https://graph.microsoft.com/v1.0/$metadata#identityGovernance/entitlementManagement/catalogs('c62699af-a4df-4a8c-a57b-579c9c1dc524')/resources(scopes(),roles())\",\"value\":[{\"id\":\"f6470d44-48cb-4924-9a33-9e7a21e09863\",\"displayName\":\"demo-group-for-testing\",\"description\":null,\"originId\":\"ad7b5f9e-1512-45b0-b0dc-e9fdbc6f280d\",\"originSystem\":\"AadGroup\",\"createdDateTime\":\"2024-05-14T09:30:45.037Z\",\"attributes\":[],\"scopes@odata.context\":\"https://graph.microsoft.com/v1.0/$metadata#identityGovernance/entitlementManagement/catalogs('c62699af-a4df-4a8c-a57b-579c9c1dc524')/resources('f6470d44-48cb-4924-9a33-9e7a21e09863')/scopes\",\"scopes\":[{\"id\":\"30802c60-6ab1-4449-87d8-45224c1291c9\",\"displayName\":\"Root\",\"description\":\"Root Scope\",\"originId\":\"ad7b5f9e-1512-45b0-b0dc-e9fdbc6f280d\",\"originSystem\":\"AadGroup\",\"isRootScope\":true}],\"roles@odata.context\":\"https://graph.microsoft.com/v1.0/$metadata#identityGovernance/entitlementManagement/catalogs('c62699af-a4df-4a8c-a57b-579c9c1dc524')/resources('f6470d44-48cb-4924-9a33-9e7a21e09863')/roles\",\"roles\":[{\"id\":\"ea66de6f-aaf0-433a-bba7-82f7b353fdb0\",\"displayName\":\"Member\",\"description\":null,\"originSystem\":\"AadGroup\",\"originId\":\"Member_ad7b5f9e-1512-45b0-b0dc-e9fdbc6f280d\"},{\"id\":\"854fd35c-41b8-434f-b65d-1bbaa34d026b\",\"displayName\":\"Owner\",\"description\":null,\"originSystem\":\"AadGroup\",\"originId\":\"Owner_ad7b5f9e-1512-45b0-b0dc-e9fdbc6f280d\"}]},{\"id\":\"2858051d-58ac-439a-97cb-7befff21234c\",\"displayName\":\"jupitorOne-app\",\"description\":\"AppId: 59e9ffdf-d0c[...]
