{
  "log": {
    "_recordingName": "rm-azure-application",
    "creator": {
      "comment": "persister:JupiterOneIntegationFSPersister",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "419f8a68424a58ccfbfa7e96d080076d",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/x-www-form-urlencoded"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/x-www-form-urlencoded",
            "params": [],
            "text": "[REDACTED]"
          },
          "queryString": [],
          "url": "https://login.microsoftonline.com/fc65a925-383b-4adf-8848-4c1eec3b3a9e/oauth2/v2.0/token"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 1831,
            "text": "{\"token_type\":\"Bearer\",\"expires_in\":3599,\"ext_expires_in\":3599,\"access_token\":\"[REDACTED]\"}"
          },
            {
              "httpOnly": true,
              "name": "x-ms-gateway-slice",
              "path": "/",
              "sameSite": "none",
              "secure": true,
              "value": "[REDACTED]"
            },
            {
              "httpOnly": true,
              "name": "stsservicecookie",
              "path": "/",
              "sameSite": "none",
              "secure": true,
              "value": "[REDACTED]"
            }
          ],
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "x-ms-srs",
              "value": "1.P"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 377,
      },
      {
        "_id": "fcc67cba0c8ce819ed2ecb81803b4d90",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "authorization",
              "value": "[REDACTED]"
            },
            {
              "_fromType": "array",
              "name": "sdkversion",
              "value": "graph-js/2.0.0 (featureUsage=7)"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://graph.microsoft.com/v1.0/applications"
        },
        "response": {
          "content": {
            "mimeType": "application/json;odata.metadata=minimal;odata.streaming=true;IEEE754Compatible=false;charset=utf-8",
            "size": 2790,
            "text": "{\"@odata.context\":\"https://graph.microsoft.com/v1.0/$metadata#applications\",\"value\":[{\"id\":\"7853c151-d2b8-4260-8252-2eb69f29a63a\",\"deletedDateTime\":null,\"appId\":\"59e9ffdf-d0cb-49e5-82b6-4ac925ac884a\",\"applicationTemplateId\":null,\"disabledByMicrosoftStatus\":null,\"createdDateTime\":\"2024-05-10T04:17:39Z\",\"displayName\":\"jupitorOne-app\",\"description\":null,\"groupMembershipClaims\":null,\"identifierUris\":[],\"isDeviceOnlyAuthSupported\":null,\"isFallbackPublicClient\":null,\"nativeAuthenticationApisEnabled\":null,\"notes\":null,\"publisherDomain\":\"developmentjupiterone.onmicrosoft.com\",\"serviceManagementReference\":null,\"signInAudience\":\"AzureADMyOrg\",\"tags\":[],\"tokenEncryptionKeyId\":null,\"uniqueName\":null,\"samlMetadataUrl\":null,\"defaultRedirectUri\":null,\"certification\":null,\"optionalClaims\":null,\"requestSignatureVerification\":null,\"addIns\":[],\"api\":{\"acceptMappedClaims\":null,\"knownClientApplications\":[],\"requestedAccessTokenVersion\":null,\"oauth2PermissionScopes\":[],\"preAuthorizedApplications\":[]},\"appRoles\":[],\"info\":{\"logoUrl\":null,\"marketingUrl\":null,\"privacyStatementUrl\":null,\"supportUrl\":null,\"termsOfServiceUrl\":null},\"keyCredentials\":[],\"parentalControlSettings\":{\"countriesBlockedForMinors\":[],\"legalAgeGroupRule\":\"Allow\"},\"passwordCredentials\":[{\"customKeyIdentifier\":null,\"displayName\":\"demo-secret-metron-for-read\",\"endDateTime\":\"2024-11-12T16:12:06.344Z\",\"hint\":\"L_F\",\"keyId\":\"e1e380dc-c17a-4699-876e-b6efafcabe55\",\"secretText\":null,\"startDateTime\":\"2024-05-16T16:12:06.344Z\"},{\"customKeyIdentifier\":null,\"displayName\":\"demo-sceret-for-jupitorOne\",\"endDateTime\":\"2024-11-06T04:19:05.558Z\",\"hint\":\"vRL\",\"keyId\":\"9a62c4b2-32e3-49a8-9fd3-1b4989f4d50d\",\"secretText\":null,\"startDateTime\":\"2024-05-10T04:19:05.558Z\"}],\"publicClient\":{\"redirectUris\":[]},\"requiredResourceAccess\":[{\"resourceAppId\":\"00000003-0000-0000-c000-000000000000\",\"resourceAccess\":[{\"id\":\"ae7a573d-81d7-432b-ad44-4ed5c9d89038\",\"type\":\"Scope\"},{\"id\":\"e1fe6dd8-ba31-4d61-89e7-88639da4683d\",\"type\":\"Scope\"},{\"id\":\"d07a8cc0-3d51-4b77-b3b0-32704d1f69fa\",\"type\":\"Role\"},{\"id\":\"b0afded3-3588-46d8-8b3d-9842eff778da\",\"type\":\"Role\"},{\"id\":\"7ab1d382-f21e-4acd-a863-ba3e13f7da61\",\"type\":\"Role\"},{\"id\":\"9acd699f-1e81-4958-b001-93b1d2506e19\",\"type\":\"Role\"},{\"id\":\"01d4889c-1287-42c6-ac1f-5d1e02578ef6\",\"type\":\"Role\"},{\"id\":\"246dd0d5-5bd0-4def-940b-0421030a5b68\",\"type\":\"Role\"},{\"id\":\"83d4163d-a2d8-4d3b-9695-4ae3ca98f888\",\"type\":\"Role\"}]}],\"verifiedPublisher\":{\"displayName\":null,\"verifiedPublisherId\":null,\"addedDateTime\":null},\"web\":{\"homePageUrl\":null,\"logoutUrl\":null,\"redirectUris\":[],\"implicitGrantSettings\":{\"enableAccessTokenIssuance\":false,\"enableIdTokenIssuance\":false},\"redirectUriSettings\":[]},\"servicePrincipalLockConfiguration\":{\"isEnabled\":true,\"allProperties\":true,\"credentialsWithUsageVerify\":true,\"credentialsWithUsageSign\":true,\"identifierUris\":false,\"tokenEncryptionKeyId\":true},\"spa\":{\"redirectUris\":[]}},{\"id\":\"8fb851a7-f869-46b7-b659-0300027125cc\",\"deletedDateTime\":null,\"appId\":\"f27953fc-a043-43f2-8b5f-c0fd0ccfbd17\",\"applicationTemplateId\":null,\"disabledByMicrosoftStatus\":null,\"createdDateTime\":\"2024-05-16T14:54:27Z\",\"displayName\":\"suraj-test-app\",\"description\":null,\"groupMembershipClaims\":null,\"identifierUris\":[],\"isDeviceOnlyAuthSupported\":null,\"isFallbackPublicClient\":null,\"nativeAuthenticationApisEnabled\":null,\"notes\":null,\"publish[...]
