{
  "log": {
    "_recordingName": "iterateDirectoryRoles",
    "creator": {
      "comment": "persister:AzureFSPersister",
      "name": "Polly.JS",
      "version": "2.6.3"
    },
    "entries": [
      {
        "_id": "2531614bff07ad1a156094ab128f650a",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/x-www-form-urlencoded"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/x-www-form-urlencoded",
            "params": [],
            "text": "[REDACTED]"
          },
          "queryString": [],
          "url": "https://login.microsoftonline.com/a76fc728-0cba-45f0-a9eb-d45207e14513/oauth2/v2.0/token"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 1415,
            "text": "{\"token_type\":\"Bearer\",\"expires_in\":3599,\"ext_expires_in\":3599,\"access_token\":\"[REDACTED]\"}"
          },
            {
              "httpOnly": true,
              "name": "x-ms-gateway-slice",
              "path": "/",
              "sameSite": "None",
              "secure": true,
              "value": "[REDACTED]"
            },
            {
              "httpOnly": true,
              "name": "stsservicecookie",
              "path": "/",
              "sameSite": "None",
              "secure": true,
              "value": "[REDACTED]"
            }
          ],
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 446,
      },
      {
        "_id": "d9e565d3719eff2974d6885edd10c878",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "authorization",
              "value": "Bearer [REDACTED]"
            },
            {
              "_fromType": "array",
              "name": "sdkversion",
              "value": "graph-js/2.0.0 (featureUsage=7)"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://graph.microsoft.com/v1.0/directoryRoles"
        },
        "response": {
          "content": {
            "mimeType": "application/json;odata.metadata=minimal;odata.streaming=true;IEEE754Compatible=false;charset=utf-8",
            "size": 4370,
            "text": "{\"@odata.context\":\"https://graph.microsoft.com/v1.0/$metadata#directoryRoles\",\"value\":[{\"id\":\"07262840-84c7-4cad-bdd7-f9e644ad6010\",\"deletedDateTime\":null,\"description\":\"Can read service health information and manage support tickets.\",\"displayName\":\"Service Support Administrator\",\"roleTemplateId\":\"f023fd81-a637-4b56-95fd-791ac0226033\"},{\"id\":\"0e7c7fb4-00e7-4253-b7c4-a6835deb09b1\",\"deletedDateTime\":null,\"description\":\"Can read everything that a global admin can read but not update anything.\",\"displayName\":\"Global Reader\",\"roleTemplateId\":\"f2ef992c-3afb-46b9-b7cf-a126ee74c451\"},{\"id\":\"1c705831-b87e-493d-9607-56342c40e2df\",\"deletedDateTime\":null,\"description\":\"Can manage the Microsoft Teams service.\",\"displayName\":\"Teams Service Administrator\",\"roleTemplat[...]
