{
  "log": {
    "_recordingName": "rm-access-package-assignment-policy",
    "creator": {
      "comment": "persister:JupiterOneIntegationFSPersister",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "419f8a68424a58ccfbfa7e96d080076d",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/x-www-form-urlencoded"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/x-www-form-urlencoded",
            "params": [],
            "text": "[REDACTED]"
          },
          "queryString": [],
          "url": "https://login.microsoftonline.com/fc65a925-383b-4adf-8848-4c1eec3b3a9e/oauth2/v2.0/token"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 1831,
            "text": "{\"token_type\":\"Bearer\",\"expires_in\":3599,\"ext_expires_in\":3599,\"access_token\":\"[REDACTED]\"}"
          },
            {
              "httpOnly": true,
              "name": "x-ms-gateway-slice",
              "path": "/",
              "sameSite": "none",
              "secure": true,
              "value": "[REDACTED]"
            },
            {
              "httpOnly": true,
              "name": "stsservicecookie",
              "path": "/",
              "sameSite": "none",
              "secure": true,
              "value": "[REDACTED]"
            }
          ],
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "x-ms-srs",
              "value": "1.P"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 429,
      },
      {
        "_id": "a9451dbc1c05e180cca47c9cf691d8b3",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "authorization",
              "value": "[REDACTED]"
            },
            {
              "_fromType": "array",
              "name": "sdkversion",
              "value": "graph-js/2.2.1 (featureUsage=7)"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://graph.microsoft.com/v1.0/identityGovernance/entitlementManagement/assignmentPolicies"
        },
        "response": {
          "content": {
            "mimeType": "application/json;odata.metadata=minimal;odata.streaming=true;IEEE754Compatible=false;charset=utf-8",
            "size": 1614,
            "text": "{\"@odata.context\":\"https://graph.microsoft.com/v1.0/$metadata#identityGovernance/entitlementManagement/assignmentPolicies\",\"value\":[{\"id\":\"1e584603-64f9-4a99-b64c-a9b6432ca74a\",\"displayName\":\"Initial Policy\",\"description\":\"Initial Policy\",\"allowedTargetScope\":\"allMemberUsers\",\"createdDateTime\":\"2024-05-14T09:31:23.737Z\",\"modifiedDateTime\":\"2024-05-14T09:31:23.75Z\",\"automaticRequestSettings\":null,\"reviewSettings\":null,\"specificAllowedTargets\":[],\"expiration\":{\"endDateTime\":null,\"duration\":\"P365D\",\"type\":\"afterDuration\"},\"requestorSettings\":{\"enableTargetsToSelfAddAccess\":false,\"enableTargetsToSelfUpdateAccess\":false,\"enableTargetsToSelfRemoveAccess\":true,\"allowCustomAssignmentSchedule\":true,\"enableOnBehalfRequestorsToAddAccess\":false,\"enableOnBehalfRequestorsToUpdateAccess\":false,\"enableOnBehalfRequestorsToRemoveAccess\":false,\"onBehalfRequestors\":[]},\"requestApprovalSettings\":{\"isApprovalRequiredForAdd\":false,\"isApprovalRequiredForUpdate\":false,\"stages\":[]},\"questions@odata.context\":\"https://graph.microsoft.com/v1.0/$metadata#identityGovernance/entitlementManagement/assignmentPolicies('1e584603-64f9-4a99-b64c-a9b6432ca74a')/questions\",\"questions\":[]},{\"id\":\"23825665-ce3a-43af-a95a-700c2ac87ad5\",\"displayName\":\"Initial Policy\",\"description\":\"Initial Policy\",\"allowedTargetScope\":\"specificDirectoryUsers\",\"createdDateTime\":\"2024-05-13T11:33:32.553Z\",\"modifiedDateTime\":\"2024-05-13T11:33:32.663Z\",\"automaticRequestSettings\":null,\"reviewSettings\":null,\"specificAllowedTargets\":[{\"@odata.type\":\"#microsoft.graph.singleUser\",\"userId\":\"5f33789b-0cae-443b-9f6c-c115895d3c64\",\"description\":\"Metron\"}],\"expiration\":{\"endDateTime\":null,\"duration\":\"P365D\",\"type\":\"afterDuration\"},\"requestorSettings\":{\"enableTargetsToSelfAddAccess\":false,\"enableTargetsToSelfUpdateAccess\":false,\"enableTargetsToSelfRemoveAccess\":true,\"allowCustomAssignmentSchedule\":true,\"enableOnBehalfRequestorsToAddAccess\":false,\"enableOnBehalfRequestorsToUpdateAccess\":false,\"enableOnBehalfRequestorsToRemoveAccess\":false,\"onBehalfRequ[...]
