{
  "log": {
    "_recordingName": "ad-conditional-access-policy",
    "creator": {
      "comment": "persister:JupiterOneIntegationFSPersister",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "419f8a68424a58ccfbfa7e96d080076d",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/x-www-form-urlencoded"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/x-www-form-urlencoded",
            "params": [],
            "text": "[REDACTED]"
          },
          "queryString": [],
          "url": "https://login.microsoftonline.com/19ae0f99-6fc6-444b-bd54-97504efc66ad/oauth2/v2.0/token"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 1776,
            "text": "{\"token_type\":\"Bearer\",\"expires_in\":3599,\"ext_expires_in\":3599,\"access_token\":\"[REDACTED]\"}"
          },
            {
              "httpOnly": true,
              "name": "x-ms-gateway-slice",
              "path": "/",
              "sameSite": "none",
              "secure": true,
              "value": "[REDACTED]"
            },
            {
              "httpOnly": true,
              "name": "stsservicecookie",
              "path": "/",
              "sameSite": "none",
              "secure": true,
              "value": "[REDACTED]"
            }
          ],
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "x-ms-srs",
              "value": "1.P"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 1406,
      },
      {
        "_id": "7e3ce33aa268c823ebeee64a9ba37165",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "authorization",
              "value": "[REDACTED]"
            },
            {
              "_fromType": "array",
              "name": "sdkversion",
              "value": "graph-js/2.0.0 (featureUsage=7)"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://graph.microsoft.com/v1.0/identity/conditionalAccess/policies"
        },
        "response": {
          "content": {
            "mimeType": "application/json;odata.metadata=minimal;odata.streaming=true;IEEE754Compatible=false;charset=utf-8",
            "size": 1934,
            "text": "{\"@odata.context\":\"https://graph.microsoft.com/v1.0/$metadata#identity/conditionalAccess/policies\",\"value\":[{\"id\":\"e1e5bcfc-1adf-407d-904b-5d807b742975\",\"templateId\":\"0b2282f9-2862-4178-88b5-d79340b36cb8\",\"displayName\":\"Block legacy authentication\",\"createdDateTime\":\"2024-06-26T06:07:15.7037785Z\",\"modifiedDateTime\":null,\"state\":\"enabledForReportingButNotEnforced\",\"sessionControls\":null,\"conditions\":{\"userRiskLevels\":[],\"signInRiskLevels\":[],\"clientAppTypes\":[\"exchangeActiveSync\",\"other\"],\"servicePrincipalRiskLevels\":[],\"insiderRiskLevels\":null,\"platforms\":null,\"locations\":null,\"devices\":null,\"clientApplications\":null,\"applications\":{\"includeApplications\":[\"All\"],\"excludeApplications\":[],\"includeUserActions\":[],\"includeAuthenticationContextClassReferences\":[],\"applicationFilter\":null},\"users\":{\"includeUsers\":[\"All\"],\"excludeUsers\":[\"4f0dbdc3-d93a-4b10-b76e-4355e86deaf3\"],\"includeGroups\":[],\"excludeGroups\":[],\"includeRoles\":[],\"excludeRoles\":[],\"includeGuestsOrExternalUsers\":null,\"excludeGuestsOrExternalUsers\":null}},\"grantControls\":{\"operator\":\"OR\",\"builtInControls\":[\"block\"],\"customAuthenticationFactors\":[],\"termsOfUse\":[],\"authenticationStrength@odata.context\":\"https://graph.microsoft.com/v1.0/$metadata#identity/conditionalAccess/policies('e1e5bcfc-1adf-407d-904b-5d807b742975')/grantControls/authenticationStrength/$entity\",\"authenticationStrength\":null}},{\"id\":\"6ad4aca0-eb46-48e2-9760-7765dba77abc\",\"templateId\":null,\"displayName\":\"testpolicy\",\"createdDateTime\":\"2024-06-26T07:00:59.278817Z\",\"modifiedDateTime\":null,\"state\":\"enabledForReportingButNotEnforced\",\"grantControls\":null,\"conditions\":{\"userRiskLevels\":[],\"signInRiskLevels\":[],\"clientAppTypes\":[\"all\"],\"servicePrincipalRiskLevels\":[],\"insiderRiskLevels\":null,\"platforms\":null,\"devices\":null,\"clientApplications\":null,\"applications\":{\"includeApplications\":[\"None\"],\"excludeApplications\":[],\"includeUserActions\":[],\"includeAuthenticationContextClassReferences\":[],\"applicationFilter\":null},\"users\":{\"includeUsers\":[\"72a150de-0ad9-428d-bb4b-8c5319307b75\"],\"excludeUsers\":[],\"includeGroups\":[],\"excludeGroups\":[],\"includeRoles\":[],\"excludeRoles\":[],\"includeGuestsOrExternalUsers\":null,\"excludeGuestsOrExternalUsers\":null},\"locations\":{\"includeLocations\":[\"1c21307d-eac8-48d9-b87e-c335baba2ac6\"],\"excludeLocations\":[]}},\"sessionControls\":{\"disableResilienceDefaults\":null,\"applicationEnforcedRestrictions\":null,\"cloudAppSecurity\":null,\"persistentBrowser\":null,\"signInFrequency\":{\"value\":200,\"type\":\"days\",\"authenticationType\":\"primaryAndSecondaryAuthentication\",\"frequencyInterval\":\"timeBased\",\"isEnabled\":true}}},{\"id\":\"43ea2c15-a1f6-47f5-9805-e50e69134d7e\",\"templateId\":null,\"displayName\":\"Asset Compliance Policy\",\"createdDateTime\":\"2024-06-26T11:24:47.2230244Z\",\"modifiedDateTime\":\"2024-06-26T16:44:56.0550013Z\",\"state\":\"enabledForReportingButNotEnforced\",\"conditions\":{\"userRiskLevels\":[],\"signInRiskLevels\":[],\"clientAppTypes\":[\"all\"],\"servicePrincipalRiskLevels\":[],\"insiderRiskLevels\":null,\"devices\":null,\"clientApplications\":null,\"applications\":{\"includeApplications\":[\"f5c26e74-f226-4ae8-85f0-b4af0080ac9e\"],\"excludeApplications\":[],\"includeUserActions\":[],\"includeAuthenticationContextClassReferences\":[],\"applicationFilter\":null},\"users\":{\"includeUsers\":[\"72a150de-0ad9-428d-bb4b-8c5319307b75\"],\"excludeUsers\":[],\"includeGroups\":[\"1426f405-f5fd-4f0b-963a-d17ad34513d8\"],\"excludeGroups\":[],\"includeRoles\":[],\"excludeRoles\":[],\"excludeGuestsOrExternalUsers\":null,\"includeGuestsOrExternalUsers\":{\"guestOrExternalUserTypes\":\"b2bCollaborationGuest\",\"externalTenants\":{\"@odata.type\":\"#microsoft.graph.conditionalAccessAllExternalTenants\",\"membershipKind\":\"all\"}}},\"platforms\":{\"includePlatforms\":[\"all\"],\"excludePlatforms\":[\"android\",\"iOS\",\"macOS\",\"linux\"]},\"locations\":{\"includeLocations\":[\"1c21307d-eac8-48d9-b87e-c335baba2ac6\"],\"excludeLocations\":[]}},\"grantControls\":{\"operator\":\"AND\",\"builtInControls\":[\"mfa\",\"compliantDevice\"],\"customAuthenticationFactors\":[],\"termsOfUse\":[],\"authenticationStrength@odata.context\":\"https://graph.microsoft.com/v1.0/$metadata#identity/conditionalAccess/policies('43ea2c15-a1f6-47f5-9805-e50e69134d7e')/grantControls/authenticationStrength/$entity\",\"authenticationStrength\":null},\"sessionControls\":{\"disableResilienceDefaults\":null,\"applicationEnforcedRestrictions\":null,\"signInFrequency\":null,\"persistentBrowser\":null,\"cloudAppSecurity\":{\"cloudAppSecurityType\":\"mcasConfigured\",\"isEnabled\":true}}},{\"id\":\"fb77a092-aa0c-4259-a4b4-88daafbd0ebd\",\"templateId\":null,\"displayName\":\"tstpolicy-01\",\"createdDateTime\":\"2024-06-26T16:31:23.7877101Z\",\"modifiedDateTime\":null,\"state\":\"enabledForReportingButNotEnforced\",\"sessionControls\":null,\"conditions\":{\"userRiskLevels\":[],\"signInRiskLevels\":[],\"clientAppTypes\":[\"all\"],\"servicePrincipalRiskLevels\":[],\"insiderRiskLevels\":null,\"platforms\":null,\"locations\":null,\"devices\":nul[...]
